[access "refs/for/refs/*"]
	pushMerge = group refstack-release

[access "refs/heads/*"]
	abandon = group refstack-core
	create = group refstack-release
	label-Code-Review = -2..+2 group refstack-core
	label-Workflow = -1..+1 group refstack-core
	toggleWipState = group refstack-core
	toggleWipState = group refstack-release

[access "refs/tags/*"]
	createSignedTag = group refstack-release

[receive]
	requireChangeId = true
	requireSignedOffBy = true

[submit]
	mergeContent = true
