[access "refs/heads/*"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group transparency-committee-chair
exclusiveGroupPermissions = abandon label-Workflow
label-Rollcall-Vote = -1..+1 group transparency-committee
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group transparency-committee-chair

[access "refs/tags/*"]
createSignedTag = group transparency-committee-chair

[label "Code-Review"]
copyCondition = changekind:TRIVIAL_REBASE
defaultValue = 0
function = NoBlock
value = -2 Unused -2
value = -1 This patch needs further work before it can be merged
value = 0 No score
value = +1 Looks good to me
value = +2 Unused +2

[label "Rollcall-Vote"]
copyCondition = changekind:TRIVIAL_REBASE
defaultValue = 0
function = NoBlock
value = -1 No
value = 0 Abstain
value = +1 Yes

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true

[submit-requirement "Code-Review"]
applicableIf = is:false
description = Informational vote on current revision
submittableIf = is:true

[submit-requirement "Rollcall-Vote"]
applicableIf = is:false
description = An informational vote from team members
submittableIf = is:true
