[access "refs/heads/*"]
abandon = group openstackweb-core
label-Code-Review = -2..+2 group openstackweb-core
label-Workflow = -1..+1 group openstackweb-core

[access "refs/tags/*"]
pushSignedTag = group openstackweb-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
