[access "refs/heads/*"]
	abandon = group volvocars-powertrain-build-core
	create = group volvocars-powertrain-build-release
	label-Code-Review = -2..+2 group volvocars-powertrain-build-core
	label-Workflow = -1..+1 group volvocars-powertrain-build-core

[access "refs/tags/*"]
	createSignedTag = group volvocars-powertrain-build-release

[receive]
	requireChangeId = true

[submit]
	mergeContent = true
