[access "refs/heads/*"]
	abandon = group volvocars-project-config-core
	create = group volvocars-project-config-release
	label-Code-Review = -2..+2 group volvocars-project-config-core
	label-Workflow = -1..+1 group volvocars-project-config-core

[access "refs/tags/*"]
	createSignedTag = group volvocars-project-config-release

[receive]
	requireChangeId = true

[submit]
	mergeContent = true
