[access "refs/heads/*"]
abandon = group ansible-role-puppet-core
label-Code-Review = -2..+2 group ansible-role-puppet-core
label-Workflow = -1..+1 group ansible-role-puppet-core

[access "refs/tags/*"]
pushSignedTag = group ansible-role-puppet-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
