[access "refs/heads/*"]
abandon = group opendev-base-jobs-core
label-Code-Review = -2..+2 group opendev-base-jobs-core
label-Workflow = -1..+1 group opendev-base-jobs-core

[access "refs/tags/*"]
createSignedTag = group opendev-base-jobs-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
