[access "refs/heads/*"]
abandon = group engagement-core
label-Code-Review = -2..+2 group engagement-core
label-Workflow = -1..+1 group engagement-core

[access "refs/tags/*"]
createSignedTag = group engagement-release
createTag = group engagement-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
