[access "refs/heads/*"]
abandon = group opendev-project-config-core
label-Code-Review = -2..+2 group opendev-project-config-core
label-Workflow = -1..+1 group opendev-project-config-core

[access "refs/tags/*"]
createSignedTag = group opendev-project-config-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
