[access "refs/heads/*"]
abandon = group puppet-openstack_infra_spec_helper-core
label-Code-Review = -2..+2 group puppet-openstack_infra_spec_helper-core
label-Workflow = -1..+1 group puppet-openstack_infra_spec_helper-core

[access "refs/tags/*"]
pushSignedTag = group puppet-openstack_infra_spec_helper-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
