[access "refs/heads/*"]
abandon = group puppet-ulimit-core
label-Code-Review = -2..+2 group puppet-ulimit-core
label-Workflow = -1..+1 group puppet-ulimit-core

[access "refs/tags/*"]
createSignedTag = group puppet-ulimit-release
createTag = group puppet-ulimit-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
