[access "refs/heads/*"]
abandon = group storyboard-vue-core
label-Code-Review = -2..+2 group storyboard-vue-core
label-Workflow = -1..+1 group storyboard-vue-core

[access "refs/tags/*"]
createSignedTag = group storyboard-vue-release
createTag = group storyboard-vue-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
