[access "refs/heads/*"]
abandon = group yaml2ical-core
label-Code-Review = -2..+2 group yaml2ical-core
label-Workflow = -1..+1 group yaml2ical-core

[access "refs/tags/*"]
pushSignedTag = group yaml2ical-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
