- name: Create ~/scripts/ directory
  file:
    path: "{{ ansible_user_dir }}/scripts/"
    state: directory

- name: Copy the release-tools directory to the remote node
  synchronize:
    src: "release-tools/"
    dest: "{{ ansible_user_dir }}/scripts/release-tools"
