<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <title>OpenStack Testing and Collaboration Tools Documentation</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin" rel="stylesheet" type="text/css"/>
  <!-- Google Fonts -->
  <link href="https://www.openstack.org/blog/feed/" rel="alternate" title="RSS 2.0" type="application/rss+xml"/>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin" rel="stylesheet" type="text/css"/>
  <!-- Framework CSS -->
  <link href="https://www.openstack.org/themes/openstack/css/blueprint/screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
  <link href="https://www.openstack.org/themes/openstack/css/blueprint/print.css" media="print" rel="stylesheet" type="text/css"/>
  <!--[if lt IE 8]><link rel="stylesheet" href="http://openstack.org/themes/openstack/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <!-- OpenStack Specific CSS -->
  <link href="https://www.openstack.org/themes/openstack/css/main.css" media="screen, projection, print" rel="stylesheet" type="text/css"/>
  <link href="https://docs.openstack.org/common/css/main-landing.css" media="screen, projection, print" rel="stylesheet" type="text/css"/>
  <link href="https://www.openstack.org/themes/openstack/css/dropdown.css" rel="stylesheet" type="text/css"/>
 </head>
 <body class="docshome" id="docshome">
  <div class="container">
   <div id="header">
    <div class="span-5">
     <h1 id="logo">
      <a href="https://www.openstack.org/">
       OpenStack
      </a>
     </h1>
    </div>
    <div class="span-19 last blueLine">
     <div class="span-19" id="navigation">
      <ul id="Menu1">
       <li>
        <a href="/" title="Go to the Home page">
         Home
        </a>
       </li>
       <li>
        <a class="link" href="https://www.openstack.org/software/" title="Go to the Software page">
         Software
        </a>
       </li>
       <li>
        <a class="link" href="https://www.openstack.org/user-stories/" title="Go to the User Stories page">
         User Stories
        </a>
       </li>
       <li>
        <a class="link" href="https://www.openstack.org/community/" title="Go to the Community page">
         Community
        </a>
       </li>
       <li>
        <a class="link" href="https://www.openstack.org/foundation/" title="Go to the Foundation page">
         Foundation
        </a>
       </li>
       <li>
        <a class="link" href="https://www.openstack.org/profile/" title="Go to the Profile page">
         Profile
        </a>
       </li>
       <li>
        <a href="https://www.openstack.org/blog/" title="Go to the OpenStack Blog">
         Blog
        </a>
       </li>
       <li>
        <a href="https://wiki.openstack.org/" title="Go to the OpenStack Wiki">
         Wiki
        </a>
       </li>
       <li>
        <a href="https://docs.openstack.org/" title="Go to OpenStack Documentation">
         Documentation
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- Page Content -->
   <div class="container">
    <h3 class="subhead">
     OpenStack Testing and Collaboration Tools Documentation
    </h3>
    <div class="searchArea span-10 last">
    </div>
   </div>
   <div class="container">
    <div>
     <p>
      This is the documentation for tools and systems maintained by
      the <a
      href="https://governance.openstack.org/sigs/tact-sig.html"
      >OpenStack TaCT SIG</a> (Testing and Collaboration Tools
      Special Interest Group, a successor to the OpenStack
      Infrastructure Project Team). The intended audience for these
      documents is developers who are contributing to OpenStack, as
      well as anyone wishing to contribute to the operation and
      maintenance of the OpenStack Testing and Collaboration Tools.
     </p>
     <p>
      If you are not trying to contribute to OpenStack directly, but
      are instead a user or developer looking for API documentation,
      see the <a href="https://docs.openstack.org/">OpenStack
      documentation</a> site.
     </p>
     <p>
      Some of the documentation previously hosted here can now be
      found at the documentation sites for the <a
      href="https://docs.opendev.org/opendev/">OpenDev
      Collaboratory</a> and the <a href="https://zuul-ci.org/docs/"
      >Zuul Project</a>.
     </p>
    </div>
   </div>
   <div class="container">
    <p>
     These are links to reference documentation for the OpenStack
     Testing and Collaboration Tools.
    </p>

    <dl>
{% for document in documents %}
     <dd>
      <a href="{{document.directory}}/">{{document.name}}</a>
     </dd>
{% endfor %}
    </dl>
   </div>

  </div>
  <!-- Page Content -->
  </body>
  <footer>
  <div class="container">
    <hr />
      <div id="footer">
        <div class="span-4">
          <h3>OpenStack</h3>
          <ul>
            <li><a href="https://www.openstack.org/projects/">Projects</a></li>
            <li><a href="https://www.openstack.org/openstack-security/">OpenStack Security</a></li>
            <li><a href="https://www.openstack.org/projects/openstack-faq/">Common Questions</a></li>
            <li><a href="https://www.openstack.org/blog/">Blog</a></li>
            <li><a href="https://www.openstack.org/news/">News</a></li>
          </ul>
        </div>
        <div class="span-4">
          <h3>Community</h3>
          <ul>
            <li><a href="https://www.openstack.org/community/">User Groups</a></li>
            <li><a href="https://www.openstack.org/events/">Events</a></li>
            <li><a href="https://www.openstack.org/jobs/">Jobs</a></li>
            <li><a href="https://www.openstack.org/foundation/companies/">Companies</a></li>
            <li><a href="https://docs.opendev.org/opendev/infra-manual/latest/developers.html">Contribute</a></li>
          </ul>
        </div>
        <div class="span-4">
          <h3>Documentation</h3>
          <ul>
            <li><a href="https://docs.openstack.org/">OpenStack Manuals</a></li>
            <li><a href="https://www.openstack.org/software/start/">Getting Started</a></li>
            <li><a href="https://developer.openstack.org">API Documentation</a></li>
            <li><a href="https://wiki.openstack.org/">Wiki</a></li>
          </ul>
        </div>
        <div class="span-4 last">
          <h3>Branding &amp; Legal</h3>
          <ul>
            <li><a href="https://www.openstack.org/brand/">Logos &amp; Guidelines</a></li>
            <li><a href="https://www.openstack.org/brand/openstack-trademark-policy/">Trademark Policy</a></li>
            <li><a href="https://www.openstack.org/privacy/">Privacy Policy</a></li>
            <li><a href="https://wiki.openstack.org/CLA">OpenStack CLA</a></li>
          </ul>
        </div>
      </div>
  </div>
  </footer>
</html>
