<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <title>OpenStack Developer and Community Infrastructure Documentation</title>
  <script src="http://status.openstack.org/common.js" type="text/javascript">
  </script>
  <!-- Google Fonts -->
  <link href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin" rel="stylesheet" type="text/css"/>
  <!-- Google Fonts -->
  <link href="http://www.openstack.org/blog/feed/" rel="alternate" title="RSS 2.0" type="application/rss+xml"/>
  <link href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin" rel="stylesheet" type="text/css"/>
  <!-- Framework CSS -->
  <link href="http://openstack.org/themes/openstack/css/blueprint/screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
  <link href="http://openstack.org/themes/openstack/css/blueprint/print.css" media="print" rel="stylesheet" type="text/css"/>
  <!--[if lt IE 8]><link rel="stylesheet" href="http://openstack.org/themes/openstack/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <!-- OpenStack Specific CSS -->
  <link href="http://openstack.org/themes/openstack/css/main.css" media="screen, projection, print" rel="stylesheet" type="text/css"/>
  <link href="http://docs.openstack.org/common/css/main-landing.css" media="screen, projection, print" rel="stylesheet" type="text/css"/>
  <link href="http://openstack.org/themes/openstack/css/dropdown.css" rel="stylesheet" type="text/css"/>
 </head>
 <body class="docshome" id="docshome">
  <div class="container">
   <div id="header">
    <div class="span-5">
     <h1 id="logo">
      <a href="http://www.openstack.org/">
       OpenStack
      </a>
     </h1>
    </div>
    <div class="span-19 last blueLine">
     <div class="span-19" id="navigation">
      <ul id="Menu1">
       <li>
        <a href="/" title="Go to the Home page">
         Home
        </a>
       </li>
       <li>
        <a class="link" href="http://www.openstack.org/software/" title="Go to the Software page">
         Software
        </a>
       </li>
       <li>
        <a class="link" href="http://www.openstack.org/user-stories/" title="Go to the User Stories page">
         User Stories
        </a>
       </li>
       <li>
        <a class="link" href="http://www.openstack.org/community/" title="Go to the Community page">
         Community
        </a>
       </li>
       <li>
        <a class="link" href="http://www.openstack.org/foundation/" title="Go to the Foundation page">
         Foundation
        </a>
       </li>
       <li>
        <a class="link" href="http://www.openstack.org/profile/" title="Go to the Profile page">
         Profile
        </a>
       </li>
       <li>
        <a href="http://www.openstack.org/blog/" title="Go to the OpenStack Blog">
         Blog
        </a>
       </li>
       <li>
        <a href="http://wiki.openstack.org/" title="Go to the OpenStack Wiki">
         Wiki
        </a>
       </li>
       <li>
        <a href="http://docs.openstack.org/" title="Go to OpenStack Documentation">
         Documentation
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- Page Content -->
   <div class="container">
    <h3 class="subhead">
      OpenStack Developer and Community Infrastructure Documentation
    </h3>
    <div class="searchArea span-10 last">
    </div>
   </div>
   <div class="container">
    <div>
      <p>
      This is the documentation for the Developer and Community
      Infrastructure of the OpenStack project itself.  It is intended
      for developers who are contributing to OpenStack, persons who
      wish to contribute to the operation of the OpenStack project
      infrastructure, or other projects who wish to collaborate on the
      tools we are developing and using.
      </p>
      <p>
      If you are not trying to contribute to OpenStack directly, but
      are instead a user or developer looking for API documentation,
      see
      <a href="http://docs.openstack.org/">OpenStack documentation</a>.
      </p>
    </div>
   </div>
   <div class="container">

    <div class="span-12" id="subnav">
     <ul class="subsectionNav">
      <li class="link">
       <a>Infrastructure Manual</a>
      </li>
     </ul>
     <p style="margin-right: 40px">
       This is the user manual for the Project Developer
       Infrastructure.  Read this to learn how to contribute patches
       to OpenStack, how to create a new OpenStack project, or how to
       make changes to an existing project's configuration within the
       project infrastructure.
     </p>

     <dl>
       <dd><a href="manual/">Infrastructure Manual</a></dd>
     </dl>

     <ul class="subsectionNav">
      <li class="link">
       <a>Systems Documentation</a>
      </li>
     </ul>
     <p style="margin-right: 40px">
       The project infrastructure team operates a number of systems
       for use by the OpenStack project.  Look here to find
       information about each of them, including how they are
       installed, configured, and operated, as well as links to
       relevant external resources.
     </p>

     <dl>
       <dd><a href="system-config/">Systems Documentation</a></dd>
       <dd><a href="http://specs.openstack.org/openstack-infra/infra-specs/">
              Specifications</a>
       </dd>
       <dd><a href="publications/">Slide Presentations</a></dd>
     </dl>
    </div>

    <div class="span-12 last-right" id="subnav-right">
     <ul class="subsectionNav">
      <li class="link">
       <a>Projects</a>
      </li>
     </ul>

     <p style="margin-right: 40px">
       These are links to reference documentation for projects that
       have been developed as part of the OpenStack project
       infrastructure.
     </p>

     <dl>
{% for document in documents %}
      <dd>
       <a href="{{document.directory}}/">
        {{document.name}}
       </a>
      </dd>
{% endfor %}
     </dl>
    </div>

   </div>
  </div>
  <!-- Page Content -->
  <script type="text/javascript">
   footer();
  </script>
 </body>
</html>
