[access "refs/heads/*"]
abandon = group ansible-build-image-core
label-Code-Review = -2..+2 group ansible-build-image-core
label-Workflow = -1..+1 group ansible-build-image-core

[access "refs/tags/*"]
pushSignedTag = group ansible-build-image-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
