[access "refs/heads/*"]
abandon = group ciwatch-core
create = group ciwatch-release
label-Code-Review = -2..+2 group ciwatch-core
label-Workflow = -1..+1 group ciwatch-core

[access "refs/tags/*"]
pushSignedTag = group ciwatch-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
