[access "refs/heads/*"]
abandon = group featuretracker-core
label-Code-Review = -2..+2 group featuretracker-core
label-Workflow = -1..+1 group featuretracker-core

[access "refs/tags/*"]
pushSignedTag = group featuretracker-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
