[access "refs/heads/*"]
abandon = group grafyaml-core
create = group grafyaml-release
label-Code-Review = -2..+2 group grafyaml-core
label-Workflow = -1..+1 group grafyaml-core

[access "refs/tags/*"]
pushSignedTag = group grafyaml-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
