[access "refs/heads/*"]
abandon = group infra-core
label-Rollcall-Vote = -2..+1 group infra-core
label-Rollcall-Vote = -1..+1 group infra-council
label-Workflow = -1..+1 group infra-ptl

[label "Code-Review"]
copyAllScoresOnTrivialRebase = true
defaultValue = 0
function = NoOp
value = -2 Unused -2
value = -1 This patch needs further work before it can be merged
value = 0 No score
value = +1 Looks good to me
value = +2 Unused +2

[label "Rollcall-Vote"]
defaultValue = 0
function = AnyWithBlock
value = -2 Veto
value = -1 No
value = 0 Abstain
value = +1 Yes
value = +2 Unused +2

[receive]
requireChangeId = true

[submit]
mergeContent = true
