[access "refs/heads/*"]
abandon = group js-afs-blob-store-core
create = group js-afs-blob-store-release
label-Code-Review = -2..+2 group js-afs-blob-store-core
label-Workflow = -1..+1 group js-afs-blob-store-core

[access "refs/tags/*"]
pushSignedTag = group js-afs-blob-store-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
