[access "refs/heads/*"]
abandon = group infra-javascript-core
create = group infra-javascript-release
label-Code-Review = -2..+2 group infra-javascript-core
label-Workflow = -1..+1 group infra-javascript-core

[access "refs/tags/*"]
pushSignedTag = group infra-javascript-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
