[access "refs/heads/*"]
abandon = group logstash-filters-core
label-Code-Review = -2..+2 group logstash-filters-core
label-Workflow = -1..+1 group logstash-filters-core

[access "refs/tags/*"]
pushSignedTag = group logstash-filters-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
