[access "refs/heads/*"]
abandon = group puppet-diskimage_builder-core
label-Code-Review = -2..+2 group puppet-diskimage_builder-core
label-Workflow = -1..+1 group puppet-diskimage_builder-core

[access "refs/tags/*"]
pushSignedTag = group puppet-diskimage_builder-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
