[access "refs/heads/*"]
abandon = group puppet-pgsql_backup-core
label-Code-Review = -2..+2 group puppet-pgsql_backup-core
label-Workflow = -1..+1 group puppet-pgsql_backup-core

[access "refs/tags/*"]
pushSignedTag = group puppet-pgsql_backup-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
