[access "refs/heads/*"]
abandon = group puppet-apps_site-core
label-Code-Review = -2..+2 group puppet-apps_site-core
label-Workflow = -1..+1 group puppet-apps_site-core

[access "refs/tags/*"]
pushSignedTag = group puppet-apps_site-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
