[access "refs/heads/*"]
abandon = group puppet-unattended_upgrades-core
label-Code-Review = -2..+2 group puppet-unattended_upgrades-core
label-Workflow = -1..+1 group puppet-unattended_upgrades-core

[access "refs/tags/*"]
pushSignedTag = group puppet-unattended_upgrades-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
