[access "refs/heads/*"]
abandon = group puppet-os_client_config-core
label-Code-Review = -2..+2 group puppet-os_client_config-core
label-Workflow = -1..+1 group puppet-os_client_config-core

[access "refs/tags/*"]
pushSignedTag = group puppet-os_client_config-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
