[access "refs/heads/*"]
abandon = group puppet-phabricator-core
label-Code-Review = -2..+2 group puppet-phabricator-core
label-Workflow = -1..+1 group puppet-phabricator-core

[access "refs/tags/*"]
pushSignedTag = group puppet-phabricator-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
