[access "refs/heads/*"]
abandon = group python-storyboardclient-core
label-Code-Review = -2..+2 group python-storyboardclient-core
label-Workflow = -1..+1 group python-storyboardclient-core

[access "refs/tags/*"]
pushSignedTag = group python-storyboardclient-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
