[access "refs/heads/*"]
abandon = group storyboard-webclient-core
label-Code-Review = -2..+2 group storyboard-webclient-core
label-Workflow = -1..+1 group storyboard-webclient-core

[access "refs/tags/*"]
pushSignedTag = group storyboard-webclient-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
