[access "refs/heads/*"]
abandon = group userstory-dashboard-core
label-Code-Review = -2..+2 group userstory-dashboard-core
label-Workflow = -1..+1 group userstory-dashboard-core

[access "refs/tags/*"]
pushSignedTag = group userstory-dashboard-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
