[access "refs/heads/*"]
abandon = group zuul-packaging-core
label-Code-Review = -2..+2 group zuul-packaging-core
label-Workflow = -1..+1 group zuul-packaging-core

[access "refs/tags/*"]
pushSignedTag = group zuul-packaging-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
