[access "refs/heads/*"]
	abandon = group nebulous-core
	create = group nebulous-release
	label-Code-Review = -2..+2 group nebulous-core
	label-Workflow = -1..+1 group nebulous-core

[access "refs/heads/sandbox/${username}/*"]
	delete = group Registered Users

[receive]
	requireChangeId = true

[submit]
	mergeContent = true
