- hosts: all
  roles:
    - role: fetch-sphinx-output
      sphinx_output_src: "{{ zuul.project.src_dir }}/_out/"
      zuul_executor_dest: "{{ zuul.executor.work_root }}/artifacts"
      when: zuul_success | bool
