- hosts: all
  roles:
    - fetch-tox-output
    - role: write-root-marker
      root_marker_dir: "{{ zuul.project.src_dir }}/output"
      when: zuul_success | bool
    - role: fetch-sphinx-output
      sphinx_output_src: "{{ zuul.project.src_dir }}/output/"
      zuul_executor_dest: "{{ zuul.executor.work_root }}/artifacts"
      when: zuul_success | bool
