[access "refs/heads/*"]
abandon = group adjutant-core
create = group adjutant-release
label-Code-Review = -2..+2 group adjutant-core
label-Workflow = -1..+1 group adjutant-core

[access "refs/tags/*"]
pushSignedTag = group adjutant-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
