[access]
	inheritFrom = openstack/meta-config

[access "refs/for/refs/heads/feature/*"]
	pushMerge = group agentic-workflows-core

[access "refs/heads/*"]
	abandon = group agentic-workflows-core
	label-Code-Review = -2..+2 group agentic-workflows-core
	label-Workflow = -1..+1 group agentic-workflows-core
