[access "refs/heads/*"]
abandon = group ailuropoda-core
create = group ailuropoda-release
label-Code-Review = -2..+2 group ailuropoda-core
label-Workflow = -1..+1 group ailuropoda-core

[access "refs/tags/*"]
pushSignedTag = group ailuropoda-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
