[access "refs/heads/*"]
abandon = group alexandria-core
create = group alexandria-release
label-Code-Review = -2..+2 group alexandria-core
label-Workflow = -1..+1 group alexandria-core

[access "refs/tags/*"]
pushSignedTag = group alexandria-release

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true
