[access "refs/heads/*"]
abandon = group almanach-core
label-Code-Review = -2..+2 group almanach-core
label-Workflow = -1..+1 group almanach-core

[access "refs/tags/*"]
pushSignedTag = group almanach-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
