[access "refs/heads/*"]
abandon = group ansible-role-container-registry-core
label-Code-Review = -2..+2 group ansible-role-container-registry-core
label-Workflow = -1..+1 group ansible-role-container-registry-core

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true
