[access "refs/heads/*"]
abandon = group ansible-role-openstack-operations-core
create = group ansible-role-openstack-operations-core
label-Code-Review = -2..+2 group ansible-role-openstack-operations-core
label-Workflow = -1..+1 group ansible-role-openstack-operations-core

[access "refs/tags/*"]
pushSignedTag = group ansible-role-openstack-operations-core

[receive]
requireChangeId = true

[submit]
mergeContent = true
