[access "refs/heads/*"]
abandon = group ansible-config_template-core
abandon = group openstack-ansible-core
label-Code-Review = -2..+2 group ansible-config_template-core
label-Code-Review = -2..+2 group openstack-ansible-core
label-Workflow = -1..+1 group ansible-config_template-core
label-Workflow = -1..+1 group openstack-ansible-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
