[access "refs/heads/*"]
abandon = group ansible-role-gearman-core
label-Code-Review = -2..+2 group ansible-role-gearman-core
label-Workflow = -1..+1 group ansible-role-gearman-core

[access "refs/tags/*"]
pushSignedTag = group ansible-role-gearman-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
