[access "refs/heads/*"]
abandon = group aodh-core
create = group aodh-release
label-Code-Review = -2..+2 group aodh-core
label-Workflow = -1..+1 group aodh-core

[access "refs/tags/*"]
pushSignedTag = group aodh-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
