[access]
inheritFrom = openstack/meta-config

[access "refs/heads/*"]
abandon = group api-sig-core
label-Code-Review = -2..+2 group api-sig-core
label-Workflow = -1..+1 group api-sig-core

[access "refs/tags/*"]
createSignedTag = group api-sig-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
