[access "refs/heads/*"]
abandon = group ara-core
create = group ara-release
label-Code-Review = -2..+2 group ara-core
label-Workflow = -1..+1 group ara-core

[access "refs/tags/*"]
pushSignedTag = group ara-release

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true
