[access "refs/heads/*"]
abandon = group astara-core
create = group astara-release
label-Code-Review = -2..+2 group astara-core
label-Workflow = -1..+1 group astara-core

[access "refs/tags/*"]
pushSignedTag = group astara-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
