[access "refs/heads/*"]
abandon = group barbican-core
label-Code-Review = -2..+2 group barbican-core
label-Workflow = -1..+1 group barbican-core

[access "refs/heads/stable/*"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group barbican-stable-maint
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Project Bootstrappers
label-Code-Review = -2..+2 group barbican-stable-maint
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group barbican-stable-maint

[access "refs/heads/stable/pike"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group barbican-release-branch
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Project Bootstrappers
label-Code-Review = -2..+2 group barbican-release-branch
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group barbican-release-branch

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
