[access "refs/heads/*"]
abandon = group barbican-core
label-Code-Review = -2..+2 group barbican-core
label-Workflow = -1..+1 group barbican-core

[access "refs/heads/stable/kilo"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group Release Managers
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Project Bootstrappers-core
label-Code-Review = -2..+2 group Release Managers
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group Release Managers
owner = group Release Managers

[access "refs/tags/*"]
pushSignedTag = group barbican-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
