[access "refs/heads/*"]
abandon = group bareon-ironic-core
create = group bareon-ironic-release
label-Code-Review = -2..+2 group bareon-ironic-core
label-Verified = -1..+1 group bareon-ironic-ci
label-Workflow = -1..+1 group bareon-ironic-core

[access "refs/tags/*"]
pushSignedTag = group bareon-ironic-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
