[access "refs/heads/*"]
abandon = group bareon-core
create = group bareon-release
label-Code-Review = -2..+2 group bareon-core
label-Verified = -1..+1 group bareon-ci
label-Workflow = -1..+1 group bareon-core

[access "refs/tags/*"]
pushSignedTag = group bareon-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
