[access "refs/heads/*"]
abandon = group bifrost-core
create = group bifrost-release
label-Code-Review = -2..+2 group bifrost-core
label-Verified = -1..+1 group bifrost-ci
label-Workflow = -1..+1 group bifrost-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
