[access "refs/heads/*"]
abandon = group bifrost-core
create = group bifrost-release
label-Code-Review = -2..+2 group bifrost-core
label-Workflow = -1..+1 group bifrost-core

[access "refs/tags/*"]
pushSignedTag = group bifrost-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
