[access "refs/heads/*"]
abandon = group blazar-core
create = group blazar-release
label-Code-Review = -2..+2 group blazar-core
label-Workflow = -1..+1 group blazar-core

[access "refs/heads/stable/queens"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group blazar-release-branch
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Project Bootstrappers
label-Code-Review = -2..+2 group blazar-release-branch
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group blazar-release-branch

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
