[access "refs/for/refs/*"]
pushMerge = group boartty-core

[access "refs/heads/*"]
abandon = group boartty-core
label-Code-Review = -2..+2 group boartty-core
label-Workflow = -1..+1 group boartty-core

[access "refs/tags/*"]
pushSignedTag = group boartty-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
