[access "refs/heads/*"]
abandon = group broadview-collector-core
label-Code-Review = -2..+2 group broadview-collector-core
label-Workflow = -1..+1 group broadview-collector-core

[access "refs/tags/*"]
pushSignedTag = group broadview-collector-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
