[access "refs/heads/*"]
abandon = group cathead-core
label-Code-Review = -2..+2 group cathead-core
label-Workflow = -1..+1 group cathead-core

[access "refs/tags/*"]
pushSignedTag = group cathead-release

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true
