[access "refs/heads/*"]
abandon = group ceilometer-powervm-core
create = group ceilometer-powervm-core
label-Code-Review = -2..+2 group ceilometer-powervm-core
label-Workflow = -1..+1 group ceilometer-powervm-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
