[access "refs/heads/*"]
abandon = group certbot-dns-openstack-core
create = group certbot-dns-openstack-release
label-Code-Review = -2..+2 group certbot-dns-openstack-core
label-Workflow = -1..+1 group certbot-dns-openstack-core

[access "refs/tags/*"]
pushSignedTag = group certbot-dns-openstack-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
