[access "refs/heads/*"]
abandon = group charms-plumgrid-core
create = group charms-plumgrid-release
label-Code-Review = -2..+2 group charms-plumgrid-core
label-Verified = -1..+1 group charms-ci
label-Workflow = -1..+1 group charms-plumgrid-core

[access "refs/tags/*"]
pushSignedTag = group charms-plumgrid-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
