[access]
inheritFrom = openstack/meta-config

[access "refs/heads/*"]
abandon = group charms-core
abandon = group charms-trilio-core
create = group charms-release
label-Code-Review = -2..+2 group charms-core
label-Code-Review = -2..+2 group charms-trilio-core
label-Verified = -1..+1 group charms-ci
label-Workflow = -1..+1 group charms-core
label-Workflow = -1..+1 group charms-trilio-core

[access "refs/tags/*"]
createSignedTag = group charms-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
