[access]
inheritFrom = openstack/meta-config

[access "refs/heads/*"]
abandon = group ci-log-processing-core
label-Code-Review = -2..+2 group ci-log-processing-core
label-Workflow = -1..+1 group ci-log-processing-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
