[access "refs/heads/*"]
abandon = group cinder-fusioncompute-core
create = group cinder-fusioncompute-release
label-Code-Review = -2..+2 group cinder-fusioncompute-core
label-Workflow = -1..+1 group cinder-fusioncompute-core

[access "refs/tags/*"]
pushSignedTag = group cinder-fusioncompute-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
