[access "refs/for/refs/*"]
pushMerge = group cisco-ironic-contrib-release

[access "refs/heads/*"]
abandon = group cisco-ironic-contrib-core
create = group cisco-ironic-contrib-release
label-Code-Review = -2..+2 group cisco-ironic-contrib-core
label-Workflow = -1..+1 group cisco-ironic-contrib-core

[access "refs/tags/*"]
pushSignedTag = group cisco-ironic-contrib-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
