[access "refs/heads/*"]
abandon = group collectd-openstack-plugins-core
create = group collectd-openstack-plugins-release
label-Code-Review = -2..+2 group collectd-openstack-plugins-core
label-Workflow = -1..+1 group collectd-openstack-plugins-core

[access "refs/heads/stable/*"]
exclusiveGroupPermissions = label-Workflow
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group collectd-openstack-plugins-release

[access "refs/tags/*"]
pushSignedTag = group collectd-openstack-plugins-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
