[access "refs/heads/*"]
abandon = group congress-core
create = group congress-release
label-Code-Review = -2..+2 group congress-core
label-Verified = -1..+1 group congress-ci
label-Workflow = -1..+1 group congress-core

[access "refs/heads/stable/*"]
abandon = group congress-stable-maint
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group congress-stable-maint
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group congress-stable-maint

[access "refs/tags/*"]
pushSignedTag = group congress-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
