[access "refs/heads/*"]
abandon = group craton-core
create = group craton-release
label-Code-Review = -2..+2 group craton-core
label-Workflow = -1..+1 group craton-core

[access "refs/tags/*"]
pushSignedTag = group craton-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
