[access "refs/heads/*"]
abandon = group cyborg-core
create = group cyborg-release
label-Code-Review = -2..+2 group cyborg-core
label-Workflow = -1..+1 group cyborg-core

[access "refs/tags/*"]
pushSignedTag = group cyborg-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
