[access "refs/heads/*"]
abandon = group daisycloud-core-core
create = group daisycloud-core-release
label-Code-Review = -2..+2 group daisycloud-core-core
label-Workflow = -1..+1 group daisycloud-core-core

[access "refs/tags/*"]
pushSignedTag = group daisycloud-core-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
