[access "refs/heads/*"]
abandon = group deb-packaging-core
label-Code-Review = -2..+2 group deb-packaging-core
label-Workflow = -1..+1 group deb-packaging-core

[access "refs/tags/*"]
pushSignedTag = group deb-packaging-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
