[access "refs/heads/*"]
abandon = group debtcollector-core
label-Code-Review = -2..+2 group debtcollector-core
label-Workflow = -1..+1 group debtcollector-core

[access "refs/heads/stable/*"]
abandon = group stable-maint-core
label-Code-Review = -2..+2 group stable-maint-core
label-Workflow = -1..+1 group stable-maint-core

[access "refs/tags/*"]
pushSignedTag = group debtcollector-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
