[access "refs/heads/*"]
abandon = group designate-core
label-Code-Review = -2..+2 group designate-core
label-Verified = -1..+1 group designate-ci
label-Workflow = -1..+1 group designate-core

[access "refs/heads/stable/*"]
create = group designate-release
label-Code-Review = -2..+2 group designate-milestone
label-Workflow = -1..+1 group designate-milestone

[access "refs/heads/stable/kilo"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group Release Managers
abandon = group designate-milestone
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Project Bootstrappers-core
label-Code-Review = -2..+2 group Release Managers
label-Code-Review = -2..+2 group designate-milestone
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group Release Managers
label-Workflow = -1..+1 group designate-milestone
owner = group Release Managers

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
