[access "refs/heads/*"]
abandon = group designate-core
label-Code-Review = -2..+2 group designate-core
label-Review-Priority = -1..+2 group designate-release-manager
label-Verified = -1..+1 group designate-ci
label-Workflow = -1..+1 group designate-core

[access "refs/heads/stable/*"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group designate-stable-maint
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Project Bootstrappers
label-Code-Review = -2..+2 group designate-stable-maint
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group designate-stable-maint

[label "Review-Priority"]
copyAllScoresIfNoCodeChange = true
copyAllScoresOnTrivialRebase = true
copyMaxScore = true
copyMinScore = true
defaultValue = 0
function = AnyWithBlock
value = -1 Branch Freeze
value = 0 No Priority
value = +1 Important Change
value = +2 Gate Blocker Fix / Urgent Change

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
