[access "refs/heads/*"]
abandon = group designate-core
abandon = group horizon-core
label-Code-Review = -2..+2 group designate-core
label-Code-Review = -2..+2 group horizon-core
label-Workflow = -1..+1 group designate-core
label-Workflow = -1..+1 group horizon-core

[access "refs/heads/stable/*"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group designate-stable-maint
abandon = group horizon-stable-maint
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Project Bootstrappers
label-Code-Review = -2..+2 group designate-stable-maint
label-Code-Review = -2..+2 group horizon-stable-maint
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group designate-stable-maint
label-Workflow = -1..+1 group horizon-stable-maint

[access "refs/heads/stable/pike"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group designate-release-branch
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Project Bootstrappers
label-Code-Review = -2..+2 group designate-release-branch
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group designate-release-branch

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
