[access "refs/heads/*"]
abandon = group designate-core
label-Code-Review = -2..+2 group designate-core
label-Review-Priority = -1..+2 group designate-release-manager
label-Workflow = -1..+1 group designate-core

[label "Review-Priority"]
copyAllScoresIfNoCodeChange = true
copyAllScoresOnTrivialRebase = true
copyMaxScore = true
copyMinScore = true
defaultValue = 0
function = AnyWithBlock
value = -1 Branch Freeze
value = 0 No Priority
value = +1 Important Change
value = +2 Gate Blocker Fix / Urgent Change

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
