[access "refs/heads/*"]
abandon = group devstack-plugin-libvirt-qemu-core
create = group devstack-plugin-libvirt-qemu-release
label-Code-Review = -2..+2 group devstack-plugin-libvirt-qemu-core
label-Workflow = -1..+1 group devstack-plugin-libvirt-qemu-core

[access "refs/tags/*"]
pushSignedTag = group devstack-plugin-libvirt-qemu-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
