[access]
	inheritFrom = openstack/meta-config

[access "refs/heads/*"]
	abandon = group devstack-core
	label-Code-Review = -2..+2 group devstack-core
	label-Review-Priority = -1..+2 group devstack-core
	label-Review-Priority = +0..+2 group Registered Users
	label-Verified = -1..+1 group devstack-ci
	label-Workflow = -1..+1 group devstack-core
	toggleWipState = group devstack-core

[label "Review-Priority"]
	copyCondition = is:ANY
	defaultValue = 0
	function = NoBlock
	value = -1 Branch Freeze
	value = 0 No Priority
	value = +1 Important Change
	value = +2 Gate Blocker Fix / Urgent Change

[submit-requirement "Review-Priority"]
	description = Review priority
	submittableIf = -label:Review-Priority=MIN
