[access]
	inheritFrom = openstack/meta-config

[access "refs/heads/*"]
	abandon = group devstack-plugin-prometheus-core
	label-Code-Review = -2..+2 group devstack-plugin-prometheus-core
	label-Workflow = -1..+1 group devstack-plugin-prometheus-core
	toggleWipState = group devstack-plugin-prometheus-core

[receive]
	requireChangeId = true
	requireContributorAgreement = true

[submit]
	mergeContent = true
