[access "refs/heads/*"]
abandon = group devstack-plugin-apr-core
label-Code-Review = -2..+2 group devstack-plugin-apr-core
label-Workflow = -1..+1 group devstack-plugin-apr-core

[access "refs/tags/*"]
pushSignedTag = group devstack-plugin-apr-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
