[access "refs/heads/*"]
abandon = group distil-core
create = group distil-release
label-Code-Review = -2..+2 group distil-core
label-Workflow = -1..+1 group distil-core

[access "refs/tags/*"]
pushSignedTag = group distil-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
