[access "refs/heads/*"]
abandon = group downpour-core
create = group downpour-release
label-Code-Review = -2..+2 group downpour-core
label-Workflow = -1..+1 group downpour-core

[access "refs/tags/*"]
pushSignedTag = group downpour-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
