[access "refs/heads/*"]
abandon = group ekko-core
create = group ekko-core
label-Code-Review = -2..+2 group ekko-core
label-Workflow = -1..+1 group ekko-core

[access "refs/tags/*"]
pushSignedTag = group ekko-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
