[access "refs/heads/*"]
abandon = group eslint-config-openstack-core
create = group eslint-config-openstack-release
label-Code-Review = -2..+2 group eslint-config-openstack-core
label-Workflow = -1..+1 group eslint-config-openstack-core

[access "refs/tags/*"]
pushSignedTag = group eslint-config-openstack-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
