[access "refs/heads/*"]
abandon = group fairy-slipper-core
label-Code-Review = -2..+2 group fairy-slipper-core
label-Workflow = -1..+1 group fairy-slipper-core

[access "refs/tags/*"]
pushSignedTag = group library-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
