[access "refs/heads/*"]
abandon = group freezer-core
create = group freezer-release
label-Code-Review = -2..+2 group freezer-core
label-Workflow = -1..+1 group freezer-core

[access "refs/heads/stable/*"]
abandon = group freezer-stable-maint
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group freezer-stable-maint
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group freezer-stable-maint

[access "refs/tags/*"]
pushSignedTag = group freezer-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
