[access "refs/heads/*"]
abandon = group fuel-upgrade-core
create = group fuel-release
label-Code-Review = -2..+2 group fuel-upgrade-core
label-Verified = -1..+1 group fuel-ci
label-Workflow = -1..+1 group fuel-upgrade-core

[access "refs/tags/*"]
pushSignedTag = group fuel-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
