[access "refs/heads/*"]
abandon = group fuel-main-core
create = group fuel-main-core
label-Code-Review = -2..+2 group fuel-main-core
label-Verified = -1..+1 group fuel-ci
label-Workflow = -1..+1 group fuel-main-core

[access "refs/heads/stable/6.1"]
exclusiveGroupPermissions = label-Workflow
label-Workflow = -1..+1 group fuel-stable-core

[access "refs/heads/stable/7.0"]
exclusiveGroupPermissions = label-Workflow
label-Workflow = -1..+1 group fuel-stable-core

[access "refs/tags/*"]
pushSignedTag = group fuel-main-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
