[access "refs/heads/*"]
abandon = group fuel-plugin-rally-core
create = group fuel-plugin-rally-core
label-Code-Review = -2..+2 group fuel-plugin-rally-core
label-Verified = -1..+1 group fuel-plugins-ci
label-Workflow = -1..+1 group fuel-plugin-rally-core

[access "refs/tags/*"]
pushSignedTag = group fuel-plugin-rally-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
