[access "refs/heads/*"]
abandon = group fuel-menu-core
create = group fuel-release
label-Code-Review = -2..+2 group fuel-menu-core
label-Verified = -1..+1 group fuel-ci
label-Workflow = -1..+1 group fuel-menu-core

[access "refs/heads/stable/*"]
exclusiveGroupPermissions = label-Workflow
label-Workflow = -1..+1 group fuel-stable-core

[access "refs/tags/*"]
pushSignedTag = group fuel-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
