[access "refs/heads/*"]
abandon = group fuxi-kubernetes-core
create = group fuxi-release
label-Code-Review = -2..+2 group fuxi-kubernetes-core
label-Workflow = -1..+1 group fuxi-kubernetes-core

[access "refs/tags/*"]
pushSignedTag = group fuxi-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
