[access "refs/heads/*"]
abandon = group giftwrap-core
create = group giftwrap-release
label-Code-Review = -2..+2 group giftwrap-core
label-Workflow = -1..+1 group giftwrap-core

[access "refs/tags/*"]
pushSignedTag = group giftwrap-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
