[access "refs/heads/*"]
abandon = group glance-core
label-Code-Review = -2..+2 group glance-core
label-Workflow = -1..+1 group glance-core

[access "refs/heads/stable/*"]
abandon = group glance-stable-maint
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group glance-stable-maint
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group glance-stable-maint

[access "refs/heads/stable/liberty"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group Release Managers
abandon = group glance-release
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Project Bootstrappers-core
label-Code-Review = -2..+2 group Release Managers
label-Code-Review = -2..+2 group glance-release
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group Release Managers
label-Workflow = -1..+1 group glance-release
owner = group Release Managers

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
