[access "refs/heads/*"]
abandon = group glare-core
create = group glare-release
label-Code-Review = -2..+2 group glare-core
label-Workflow = -1..+1 group glare-core

[access "refs/tags/*"]
pushSignedTag = group glare-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
