[access "refs/heads/*"]
abandon = group gluon-core
create = group gluon-release
label-Code-Review = -2..+2 group gluon-core
label-Workflow = -1..+1 group gluon-core

[access "refs/tags/*"]
pushSignedTag = group gluon-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
