[access]
	inheritFrom = openstack/meta-config

[access "refs/heads/*"]
	abandon = group Change Owner
	abandon = group Project Bootstrappers
	abandon = group tech-committee-chair
	exclusiveGroupPermissions = abandon label-Workflow
	label-Code-Review = -1..+1 group Registered Users
	label-Rollcall-Vote = -1..+1 group tech-committee
	label-Workflow = -1..+0 group Change Owner
	label-Workflow = -1..+1 group Project Bootstrappers
	label-Workflow = -1..+1 group tech-committee
	label-Workflow = -1..+1 group tech-committee-chair

[access "refs/tags/*"]
	createSignedTag = group tech-committee-chair

[label "Code-Review"]
	copyCondition = changekind:NO_CODE_CHANGE OR changekind:TRIVIAL_REBASE
	defaultValue = 0
	function = NoBlock
	value = -1 This patch needs further work before it can be merged
	value = 0 No score
	value = +1 Looks good to me

[label "Rollcall-Vote"]
	copyCondition = changekind:NO_CODE_CHANGE OR changekind:TRIVIAL_REBASE
	defaultValue = 0
	function = NoBlock
	value = -1 No
	value = 0 Abstain
	value = +1 Yes

[submit-requirement "Code-Review"]
	applicableIf = is:false
	description = An informational vote on this revision
	submittableIf = is:true

[submit-requirement "Rollcall-Vote"]
	applicableIf = is:false
	description = An informational vote from team members
	submittableIf = is:true
