[access "refs/heads/*"]
abandon = group Change Owner
abandon = group tech-committee-chair
exclusiveGroupPermissions = abandon label-Workflow
label-Rollcall-Vote = -1..+1 group tech-committee
label-Workflow = -1..+1 group tech-committee-chair

[access "refs/tags/*"]
pushSignedTag = group tech-committee-chair

[label "Code-Review"]
copyAllScoresOnTrivialRebase = true
defaultValue = 0
function = NoOp
value = -2 Unused -2
value = -1 This patch needs further work before it can be merged
value = 0 No score
value = +1 Looks good to me
value = +2 Unused +2

[label "Rollcall-Vote"]
copyAllScoresOnTrivialRebase = true
defaultValue = 0
function = NoOp
value = -1 No
value = 0 Abstain
value = +1 Yes

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
