[access "refs/heads/*"]
abandon = group higgins-core
create = group higgins-release
label-Code-Review = -2..+2 group higgins-core
label-Workflow = -1..+1 group higgins-core

[access "refs/tags/*"]
pushSignedTag = group higgins-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
