[access "refs/heads/*"]
abandon = group horizon-cisco-ui-core
create = group horizon-cisco-ui-release
label-Code-Review = -2..+2 group horizon-cisco-ui-core
label-Workflow = -1..+1 group horizon-cisco-ui-core

[access "refs/tags/*"]
pushSignedTag = group horizon-cisco-ui-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
