[access "refs/heads/*"]
abandon = group interop-core
label-Code-Review = -2..+2 group interop-core
label-Workflow = -1..+1 group interop-core

[access "refs/tags/*"]
pushSignedTag = group interop-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
