[access "refs/heads/*"]
abandon = group iotronic-core
create = group iotronic-release
label-Code-Review = -2..+2 group iotronic-core
label-Workflow = -1..+1 group iotronic-core

[access "refs/tags/*"]
pushSignedTag = group iotronic-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
