[access "refs/heads/*"]
abandon = group ironic-ui-core
create = group ironic-ui-release
label-Code-Review = -2..+2 group ironic-ui-core
label-Workflow = -1..+1 group ironic-ui-core

[access "refs/tags/*"]
pushSignedTag = group ironic-ui-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
