[access "refs/heads/*"]
abandon = group ironic-webclient-core
create = group ironic-webclient-release
label-Code-Review = -2..+2 group ironic-webclient-core
label-Workflow = -1..+1 group ironic-webclient-core

[access "refs/heads/stable/*"]
abandon = group ironic-webclient-core
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group ironic-webclient-core
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group ironic-webclient-release

[access "refs/tags/*"]
pushSignedTag = group ironic-webclient-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
