[access "refs/heads/*"]
abandon = group ironic-ui-core
label-Code-Review = -2..+2 group ironic-core
label-Code-Review = -2..+2 group ironic-ui-core
label-Workflow = -1..+1 group ironic-core
label-Workflow = -1..+1 group ironic-ui-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
