[access "refs/heads/*"]
abandon = group jacket-core
create = group jacket-release
label-Code-Review = -2..+2 group jacket-core
label-Workflow = -1..+1 group jacket-core

[access "refs/tags/*"]
pushSignedTag = group jacket-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
