[access "refs/heads/*"]
abandon = group js-openstack-lib-core
create = group js-openstack-lib-release
label-Code-Review = -2..+2 group js-openstack-lib-core
label-Workflow = -1..+1 group js-openstack-lib-core

[access "refs/tags/*"]
pushSignedTag = group js-openstack-lib-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
