[access]
inheritFrom = openstack/meta-config

[access "refs/heads/*"]
abandon = group js-openstack-lib-core
label-Code-Review = -2..+2 group js-openstack-lib-core
label-Workflow = -1..+1 group js-openstack-lib-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
