[access "refs/heads/*"]
abandon = group k8s-docker-suite-app-murano-core
create = group k8s-docker-suite-app-murano-release
label-Code-Review = -2..+2 group k8s-docker-suite-app-murano-core
label-Verified = -1..+1 group k8s-docker-suite-app-murano-ci
label-Workflow = -1..+1 group k8s-docker-suite-app-murano-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
