[access "refs/heads/*"]
abandon = group karma-subunit-reporter-core
create = group karma-subunit-reporter-release
label-Code-Review = -2..+2 group karma-subunit-reporter-core
label-Workflow = -1..+1 group karma-subunit-reporter-core

[access "refs/tags/*"]
pushSignedTag = group karma-subunit-reporter-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
