[access]
inheritFrom = openstack/meta-config

[access "refs/heads/*"]
abandon = group kayobe-core
editHashtags = group kayobe-core
label-Backport-Candidate = -2..+2 group kayobe-core
label-Backport-Candidate = -1..+1 group Registered Users
label-Code-Review = -2..+2 group kayobe-core
label-Review-Priority = -1..+2 group kayobe-core
label-Workflow = -1..+1 group kayobe-core
toggleWipState = group kayobe-core

[label "Backport-Candidate"]
copyCondition = is:ANY
defaultValue = 0
function = NoBlock
value = -2 Do Not Backport
value = -1 Not A Backport Candidate
value = 0 Backport Review Needed
value = +1 Proposed Backport
value = +2 Should Backport

[label "Review-Priority"]
copyCondition = is:ANY
defaultValue = 0
function = NoBlock
value = -1 Branch Freeze
value = 0 No Priority
value = +1 Important Change
value = +2 Gate Blocker Fix / Urgent Change

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true

[submit-requirement "Backport-Candidate"]
applicableIf = is:false
description = Backport candidate status
submittableIf = is:true

[submit-requirement "Review-Priority"]
description = Review priority
submittableIf = -label:Review-Priority=MIN
