[access "refs/heads/*"]
abandon = group keystoneauth-core
label-Code-Review = -2..+2 group keystoneauth-core
label-Workflow = -1..+1 group keystoneauth-core

[access "refs/heads/stable/*"]
abandon = group keystone-stable-maint
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group keystone-stable-maint
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group keystone-stable-maint

[access "refs/tags/*"]
pushSignedTag = group library-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
