[access "refs/heads/*"]
abandon = group keystoneauth-core
label-Code-Review = -2..+2 group keystoneauth-core
label-Workflow = -1..+1 group keystoneauth-core

[access "refs/tags/*"]
pushSignedTag = group library-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
