[access "refs/heads/*"]
abandon = group kingbird-core
create = group kingbird-release
label-Code-Review = -2..+2 group kingbird-core
label-Workflow = -1..+1 group kingbird-core

[access "refs/heads/stable/*"]
abandon = group kingbird-release
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group kingbird-release
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group kingbird-release

[access "refs/tags/*"]
pushSignedTag = group kingbird-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
