[access]
	inheritFrom = openstack/meta-config

[access "refs/heads/*"]
	abandon = group kolla-core
	editHashtags = group kolla-core
	label-Backport-Candidate = -2..+2 group kolla-core
	label-Backport-Candidate = -1..+1 group Registered Users
	label-Code-Review = -2..+2 group kolla-core
	label-Review-Priority = -1..+2 group kolla-core
	label-Workflow = -1..+1 group kolla-core
	removeLabel-Review-Priority = -1..+2 group kolla-core
	toggleWipState = group kolla-core

[access "refs/heads/unmaintained/*"]
	abandon = group Change Owner
	abandon = group Project Bootstrappers
	abandon = group Release Managers
	abandon = group kolla-unmaintained-core
	exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
	label-Code-Review = -2..+2 group Project Bootstrappers
	label-Code-Review = -2..+2 group kolla-unmaintained-core
	label-Code-Review = -1..+1 group Registered Users
	label-Workflow = -1..+0 group Change Owner
	label-Workflow = -1..+1 group Project Bootstrappers
	label-Workflow = -1..+1 group kolla-unmaintained-core

[label "Backport-Candidate"]
	copyCondition = changekind:NO_CODE_CHANGE OR is:ANY
	defaultValue = 0
	function = NoBlock
	value = -2 Do Not Backport
	value = -1 Not A Backport Candidate
	value = 0 Backport Review Needed
	value = +1 Proposed Backport
	value = +2 Should Backport

[label "Review-Priority"]
	copyCondition = changekind:NO_CODE_CHANGE OR is:ANY
	defaultValue = 0
	function = NoBlock
	value = -1 Branch Freeze
	value = 0 No Priority
	value = +1 Important Change
	value = +2 Gate Blocker Fix / Urgent Change

[receive]
	requireChangeId = true
	requireContributorAgreement = true

[submit]
	mergeContent = true

[submit-requirement "Backport-Candidate"]
	applicableIf = is:false
	description = Backport candidate status
	submittableIf = is:true

[submit-requirement "NonZeroBackportCandidate"]
	applicableIf = branch:master
	description = A non-zero vote on Backport-Candidate is required before submitting changes
	submittableIf = label:Backport-Candidate=1 OR label:Backport-Candidate=-1 OR label:Backport-Candidate=-2 OR label:Backport-Candidate=2

[submit-requirement "Review-Priority"]
	description = Review priority
	submittableIf = -label:Review-Priority=MIN
