[access "refs/heads/*"]
abandon = group kolla-ansible-core
create = group kolla-release
label-Code-Review = -2..+2 group kolla-ansible-core
label-Workflow = -1..+1 group kolla-ansible-core

[access "refs/tags/*"]
pushSignedTag = group kolla-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
