[access]
inheritFrom = openstack/meta-config

[access "refs/heads/*"]
abandon = group kolla-ansible-core
editHashtags = group kolla-ansible-core
label-Backport-Candidate = -2..+2 group kolla-ansible-core
label-Backport-Candidate = -1..+1 group Registered Users
label-Code-Review = -2..+2 group kolla-ansible-core
label-Review-Priority = -1..+2 group kolla-ansible-core
label-Workflow = -1..+1 group kolla-ansible-core
toggleWipState = group kolla-ansible-core

[label "Backport-Candidate"]
copyAnyScore = true
defaultValue = 0
function = NoBlock
value = -2 Do Not Backport
value = -1 Not A Backport Candidate
value = 0 Backport Review Needed
value = +1 Proposed Backport
value = +2 Should Backport

[label "Review-Priority"]
copyAnyScore = true
defaultValue = 0
function = AnyWithBlock
value = -1 Branch Freeze
value = 0 No Priority
value = +1 Important Change
value = +2 Gate Blocker Fix / Urgent Change

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
