[access "refs/heads/*"]
abandon = group kosmos-core
label-Code-Review = -2..+2 group kosmos-core
label-Workflow = -1..+1 group kosmos-core

[access "refs/heads/stable/*"]
create = group kosmos-release
exclusiveGroupPermissions = label-Code-Review label-Workflow
label-Code-Review = -2..+2 group kosmos-release
label-Workflow = -1..+1 group kosmos-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
