[access "refs/for/refs/*"]
pushMerge = group kuryr-release

[access "refs/heads/*"]
abandon = group kuryr-libnetwork-core
create = group kuryr-release
label-Code-Review = -2..+2 group kuryr-libnetwork-core
label-Workflow = -1..+1 group kuryr-libnetwork-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
