[access "refs/for/refs/*"]
pushMerge = group kuryr-release

[access "refs/heads/*"]
abandon = group kuryr-kubernetes-core
create = group kuryr-release
label-Code-Review = -2..+2 group kuryr-kubernetes-core
label-Workflow = -1..+1 group kuryr-kubernetes-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
