[access "refs/heads/*"]
abandon = group ldappool-core
create = group ldappool-release
label-Code-Review = -2..+2 group ldappool-core
label-Workflow = -1..+1 group ldappool-core

[access "refs/tags/*"]
pushSignedTag = group ldappool-release

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true
