[access "refs/heads/*"]
abandon = group liberasurecode-core
create = group liberasurecode-release
label-Code-Review = -2..+2 group liberasurecode-core
label-Workflow = -1..+1 group liberasurecode-core

[access "refs/tags/*"]
pushSignedTag = group liberasurecode-release

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true
