[access "refs/heads/*"]
abandon = group magnum-core
create = group magnum-milestone
label-Code-Review = -2..+2 group magnum-core
label-Workflow = -1..+1 group magnum-core

[access "refs/tags/*"]
pushSignedTag = group magnum-milestone

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
