[access "refs/heads/*"]
abandon = group masakari-core
create = group masakari-release
label-Code-Review = -2..+2 group masakari-core
label-Workflow = -1..+1 group masakari-core

[access "refs/tags/*"]
pushSignedTag = group masakari-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
