[access "refs/heads/*"]
abandon = group microversion-parse-core
create = group microversion-parse-core
label-Code-Review = -2..+2 group microversion-parse-core
label-Workflow = -1..+1 group microversion-parse-core

[access "refs/tags/*"]
pushSignedTag = group microversion-parse-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
