[access "refs/heads/*"]
abandon = group mistral-core
create = group mistral-release
label-Code-Review = -2..+2 group mistral-core
label-Workflow = -1..+1 group mistral-core

[access "refs/tags/*"]
pushSignedTag = group library-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
