[access "refs/heads/*"]
abandon = group mitmstack-core
create = group mitmstack-release
label-Code-Review = -2..+2 group mitmstack-core
label-Workflow = -1..+1 group mitmstack-core

[access "refs/tags/*"]
pushSignedTag = group mitmstack-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
