[access "refs/heads/*"]
abandon = group mixmatch-core
create = group mixmatch-release
label-Code-Review = -2..+2 group mixmatch-core
label-Workflow = -1..+1 group mixmatch-core

[access "refs/tags/*"]
pushSignedTag = group mixmatch-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
