[access "refs/heads/*"]
abandon = group molteniron-core
create = group molteniron-release
label-Code-Review = -2..+2 group molteniron-core
label-Workflow = -1..+1 group molteniron-core

[access "refs/tags/*"]
pushSignedTag = group molteniron-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
