[access "refs/heads/*"]
abandon = group monitoring-for-openstack-core
label-Code-Review = -2..+2 group monitoring-for-openstack-core
label-Workflow = -1..+1 group monitoring-for-openstack-core

[access "refs/tags/*"]
pushSignedTag = group monitoring-for-openstack-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
