[access "refs/heads/*"]
abandon = group murano-core
create = group murano-release
label-Code-Review = -2..+2 group murano-core
label-Verified = -1..+1 group murano-ci
label-Workflow = -1..+1 group murano-core

[access "refs/heads/release-*"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group murano-milestone
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Project Bootstrappers
label-Code-Review = -2..+2 group murano-milestone
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group murano-milestone

[access "refs/heads/stable/*"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group murano-milestone
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Project Bootstrappers
label-Code-Review = -2..+2 group murano-milestone
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group murano-milestone

[access "refs/heads/stable/pike"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group murano-release-branch
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Project Bootstrappers
label-Code-Review = -2..+2 group murano-release-branch
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group murano-release-branch

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
