[access "refs/heads/*"]
abandon = group networking-onos-core
create = group networking-onos-core
label-Code-Review = -2..+2 group networking-onos-core
label-Workflow = -1..+1 group networking-onos-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
