[access "refs/heads/*"]
abandon = group networking-gluon-core
create = group networking-gluon-release
label-Code-Review = -2..+2 group networking-gluon-core
label-Workflow = -1..+1 group networking-gluon-core

[access "refs/tags/*"]
pushSignedTag = group networking-gluon-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
