[access "refs/for/refs/*"]
pushMerge = group neutron-milestone

[access "refs/heads/*"]
abandon = group networking-ovn-core
create = group networking-ovn-release
label-Code-Review = -2..+2 group networking-ovn-core
label-Workflow = -1..+1 group networking-ovn-core

[access "refs/tags/*"]
pushSignedTag = group neutron-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
