[access "refs/for/refs/*"]
pushMerge = group networking-onos-release

[access "refs/heads/*"]
abandon = group networking-onos-core
create = group networking-onos-release
label-Code-Review = -2..+2 group networking-onos-core
label-Workflow = -1..+1 group networking-onos-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
