[access "refs/heads/*"]
abandon = group networking-avaya-core
create = group networking-avaya-release
label-Code-Review = -2..+2 group networking-avaya-core
label-Workflow = -1..+1 group networking-avaya-core

[access "refs/tags/*"]
pushSignedTag = group networking-avaya-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
