[access "refs/for/refs/*"]
pushMerge = group networking-zte-release

[access "refs/heads/*"]
abandon = group networking-zte-core
create = group networking-zte-release
label-Code-Review = -2..+2 group networking-zte-core
label-Workflow = -1..+1 group networking-zte-core

[access "refs/tags/*"]
pushSignedTag = group networking-zte-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
