[access "refs/heads/*"]
abandon = group networking-bagpipe-l2-core
create = group networking-bagpipe-l2-release
label-Code-Review = -2..+2 group networking-bagpipe-l2-core
label-Workflow = -1..+1 group networking-bagpipe-l2-core

[access "refs/tags/*"]
pushSignedTag = group networking-bagpipe-l2-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
