[access "refs/for/refs/*"]
pushMerge = group networking-hpe-release

[access "refs/heads/*"]
abandon = group networking-hpe-core
create = group networking-hpe-release
label-Code-Review = -2..+2 group networking-hpe-core
label-Workflow = -1..+1 group networking-hpe-core

[access "refs/tags/*"]
pushSignedTag = group networking-hpe-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
