[access "refs/for/refs/*"]
pushMerge = group neutron-milestone

[access "refs/heads/*"]
abandon = group networking-sfc-core
create = group networking-sfc-release
label-Code-Review = -2..+2 group networking-sfc-core
label-Workflow = -1..+1 group networking-sfc-core

[access "refs/tags/*"]
pushSignedTag = group neutron-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
