[access "refs/for/refs/*"]
pushMerge = group networking-extreme-release

[access "refs/heads/*"]
abandon = group networking-extreme-core
create = group networking-extreme-release
label-Code-Review = -2..+2 group networking-extreme-core
label-Workflow = -1..+1 group networking-extreme-core

[access "refs/heads/stable/*"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group networking-extreme-core
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Project Bootstrappers
label-Code-Review = -2..+2 group networking-extreme-core
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group networking-extreme-core

[access "refs/tags/*"]
pushSignedTag = group networking-extreme-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
