[access "refs/heads/*"]
abandon = group networking-powervm-core
create = group networking-powervm-core
label-Code-Review = -2..+2 group networking-powervm-core
label-Workflow = -1..+1 group networking-powervm-core

[access "refs/tags/*"]
pushSignedTag = group networking-powervm-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
