[access "refs/for/refs/*"]
pushMerge = group octavia-release

[access "refs/heads/*"]
abandon = group neutron-lbaas-core
label-Code-Review = -2..+2 group neutron-lbaas-core
label-Verified = -1..+1 group octavia-ci
label-Workflow = -1..+1 group neutron-lbaas-core

[access "refs/heads/stable/*"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group octavia-stable-maint
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Project Bootstrappers
label-Code-Review = -2..+2 group octavia-stable-maint
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group octavia-stable-maint

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
