[access]
inheritFrom = openstack/meta-config

[access "refs/for/refs/*"]
pushMerge = group neutron-release

[access "refs/heads/*"]
abandon = group neutron-fwaas-core
label-Code-Review = -2..+2 group neutron-fwaas-core
label-Review-Priority = -1..+2 group neutron-fwaas-core
label-Verified = -1..+1 group neutron-ci
label-Workflow = -1..+1 group neutron-fwaas-core
toggleWipState = group neutron-fwaas-core

[access "refs/heads/stable/*"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group neutron-stable-maint
abandon = group stable-maint-core
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Project Bootstrappers
label-Code-Review = -2..+2 group neutron-stable-maint
label-Code-Review = -2..+2 group stable-maint-core
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group neutron-stable-maint
label-Workflow = -1..+1 group stable-maint-core

[label "Review-Priority"]
copyCondition = changekind:NO_CODE_CHANGE OR changekind:TRIVIAL_REBASE OR is:MAX OR is:MIN
defaultValue = 0
function = NoBlock
value = -1 Branch Freeze
value = 0 No Priority
value = +1 Important Change
value = +2 Gate Blocker Fix / Urgent Change

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true

[submit-requirement "Review-Priority"]
description = Review priority
submittableIf = -label:Review-Priority=MIN
