[access "refs/for/refs/*"]
pushMerge = group neutron-milestone

[access "refs/heads/*"]
abandon = group neutron-lbaas-core
label-Code-Review = -2..+2 group neutron-lbaas-core
label-Verified = -1..+1 group neutron-ci
label-Workflow = -1..+1 group neutron-lbaas-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
