[access "refs/for/refs/*"]
pushMerge = group neutron-vpnaas-core

[access "refs/heads/*"]
abandon = group neutron-vpnaas-core
create = group neutron-vpnaas-release
label-Code-Review = -2..+2 group neutron-vpnaas-core
label-Verified = -1..+1 group neutron-ci
label-Workflow = -1..+1 group neutron-vpnaas-core

[access "refs/tags/*"]
pushSignedTag = group neutron-vpnaas-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
