[access "refs/for/refs/*"]
pushMerge = group neutron-milestone

[access "refs/heads/*"]
abandon = group neutron-lib-core
label-Code-Review = -2..+2 group neutron-lib-core
label-Verified = -1..+1 group neutron-ci
label-Workflow = -1..+1 group neutron-lib-core

[access "refs/tags/*"]
pushSignedTag = group library-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
