[access "refs/heads/*"]
abandon = group neutron-vpnaas-dashboard-core
create = group neutron-vpnaas-dashboard-release
label-Code-Review = -2..+2 group neutron-vpnaas-dashboard-core
label-Workflow = -1..+1 group neutron-vpnaas-dashboard-core

[access "refs/tags/*"]
pushSignedTag = group neutron-vpnaas-dashboard-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
