[access "refs/heads/*"]
abandon = group nimble-core
create = group nimble-release
label-Code-Review = -2..+2 group nimble-core
label-Workflow = -1..+1 group nimble-core

[access "refs/tags/*"]
pushSignedTag = group nimble-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
