[access "refs/heads/*"]
abandon = group nomad-core
create = group nomad-release
label-Code-Review = -2..+2 group nomad-core
label-Workflow = -1..+1 group nomad-core

[access "refs/tags/*"]
pushSignedTag = group nomad-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
