[access "refs/heads/*"]
abandon = group nose-html-output-core
label-Code-Review = -2..+2 group nose-html-output-core
label-Workflow = -1..+1 group nose-html-output-core

[access "refs/tags/*"]
pushSignedTag = group nose-html-output-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
