[access]
inheritFrom = openstack/meta-config

[access "refs/heads/*"]
abandon = group nova-specs-core
label-Code-Review = -2..+2 group nova-specs-core
label-Review-Priority = +0..+1 group Registered Users
label-Review-Priority = +0..+2 group nova-specs-core
label-Workflow = -1..+1 group nova-specs-core

[label "Review-Priority"]
copyCondition = is:ANY
defaultValue = 0
function = NoOp
value = 0 Default Priority
value = +1 Contributor Review Promise
value = +2 Core Review Promise

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
