[access "refs/heads/*"]
abandon = group nova-dpm-core
create = group nova-dpm-release
label-Code-Review = -2..+2 group nova-dpm-core
label-Workflow = -1..+1 group nova-dpm-core

[access "refs/tags/*"]
pushSignedTag = group nova-dpm-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
