[access "refs/heads/*"]
abandon = group nova-core
label-Code-Review = -2..+2 group nova-core
label-Review-Priority = +0..+1 group nova-core
label-Verified = -1..+1 group nova-ci
label-Workflow = -1..+1 group nova-core

[access "refs/heads/stable/*"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group nova-stable-maint
abandon = group stable-maint-core
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Project Bootstrappers
label-Code-Review = -2..+2 group nova-stable-maint
label-Code-Review = -2..+2 group stable-maint-core
label-Code-Review = -1..+1 group Registered Users
label-Review-Priority = +0..+1 group nova-stable-maint
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group nova-stable-maint
label-Workflow = -1..+1 group stable-maint-core

[label "Review-Priority"]
copyAnyScore = true
defaultValue = 0
function = NoOp
value = 0 Default Priority
value = +1 High Priority

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
