[access "refs/heads/*"]
abandon = group nova-lxd-core
create = group nova-lxd-core
label-Code-Review = -2..+2 group nova-lxd-core
label-Workflow = -1..+1 group nova-lxd-core

[access "refs/tags/*"]
pushSignedTag = group nova-lxd-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
