[access "refs/heads/*"]
abandon = group nova-powervm-core
create = group nova-powervm-core
label-Code-Review = -2..+2 group nova-powervm-core
label-Workflow = -1..+1 group nova-powervm-core

[access "refs/tags/*"]
pushSignedTag = group nova-powervm-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
