[access "refs/heads/*"]
abandon = group nova-specs-core
label-Code-Review = -2..+2 group nova-specs-core
label-Review-Priority = +0..+1 group nova-specs-core
label-Workflow = -1..+1 group nova-specs-core

[label "Review-Priority"]
copyAnyScore = true
defaultValue = 0
function = NoOp
value = 0 Default Priority
value = +1 High Priority

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
