[access]
inheritFrom = openstack/meta-config

[access "refs/for/refs/*"]
pushMerge = group octavia-release

[access "refs/heads/*"]
abandon = group octavia-core
label-Backport-Candidate = -2..+2 group octavia-core
label-Backport-Candidate = -1..+1 group Registered Users
label-Code-Review = -2..+2 group octavia-core
label-Verified = -1..+1 group octavia-ci
label-Workflow = -1..+1 group octavia-core

[access "refs/heads/stable/*"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group octavia-stable-maint
abandon = group stable-maint-core
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Project Bootstrappers
label-Code-Review = -2..+2 group octavia-stable-maint
label-Code-Review = -2..+2 group stable-maint-core
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group octavia-stable-maint
label-Workflow = -1..+1 group stable-maint-core

[label "Backport-Candidate"]
copyAllScoresIfNoCodeChange = true
copyAllScoresOnTrivialRebase = true
defaultValue = 0
function = NoBlock
value = -2 Do Not Backport
value = -1 Not A Backport Candidate
value = 0 Backport Review Needed
value = +1 Proposed Backport
value = +2 Should Backport

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
