[access "refs/heads/*"]
abandon = group openstack-helm-infra-core
create = group openstack-helm-infra-release
label-Code-Review = -2..+2 group openstack-helm-infra-core
label-Workflow = -1..+1 group openstack-helm-infra-core

[access "refs/tags/*"]
pushSignedTag = group openstack-helm-infra-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
