[access "refs/heads/*"]
abandon = group openstack-mentoring-scripts-core
create = group openstack-mentoring-scripts-release
label-Code-Review = -2..+2 group openstack-mentoring-scripts-core
label-Workflow = -1..+1 group openstack-mentoring-scripts-core

[access "refs/tags/*"]
pushSignedTag = group openstack-mentoring-scripts-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
