[access "refs/heads/*"]
abandon = group openstack-helm-core
create = group openstack-helm-release
label-Code-Review = -2..+2 group openstack-helm-core
label-Workflow = -1..+1 group openstack-helm-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
