[access]
inheritFrom = openstack/meta-config

[access "refs/heads/*"]
abandon = group openstack-ansible-core
label-Backport-Candidate = -1..+1 group openstack-ansible-core
label-Code-Review = -2..+2 group openstack-ansible-core
label-Workflow = -1..+1 group openstack-ansible-core

[label "Backport-Candidate"]
copyCondition = changekind:NO_CODE_CHANGE OR changekind:TRIVIAL_REBASE OR is:MAX OR is:MIN
defaultValue = 0
function = NoBlock
value = -1 Not A Backport Candidate
value = 0 Backport Review Needed
value = +1 Proposed Backport

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
