[access "refs/heads/*"]
abandon = group openstack-ansible-core
create = group openstack-ansible-release
label-Code-Review = -2..+2 group openstack-ansible-core
label-Workflow = -1..+1 group openstack-ansible-core

[access "refs/heads/proposed/*"]
abandon = group openstack-ansible-core
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group openstack-ansible-core
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group openstack-ansible-core

[access "refs/tags/*"]
pushSignedTag = group openstack-ansible-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
