[access]
	inheritFrom = openstack/meta-config

[access "refs/heads/*"]
	abandon = group openstack-helm-images-core
	label-Code-Review = -2..+2 group openstack-helm-images-core
	label-Workflow = -1..+1 group openstack-helm-images-core

[receive]
	requireChangeId = true
	requireContributorAgreement = true

[submit]
	mergeContent = true
