[access "refs/heads/*"]
abandon = group openstack-health-core
label-Code-Review = -2..+2 group openstack-health-core
label-Workflow = -1..+1 group openstack-health-core

[access "refs/tags/*"]
pushSignedTag = group openstack-health-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
