[access]
inheritFrom = openstack/meta-config

[access "refs/heads/*"]
abandon = group openstack-helm-addons-core
label-Code-Review = -2..+2 group openstack-helm-addons-core
label-Workflow = -1..+1 group openstack-helm-addons-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
