[access "refs/heads/*"]
abandon = group openstack-chef-core
create = group openstack-chef-release
label-Code-Review = -2..+2 group openstack-chef-core
label-Verified = -1..+1 group chef-ci
label-Workflow = -1..+1 group openstack-chef-core

[access "refs/tags/*"]
pushSignedTag = group openstack-chef-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
