[access]
	inheritFrom = openstack/meta-config

[access "refs/heads/*"]
	abandon = group openstack-ansible-core
	label-Backport-Candidate = -1..+1 group openstack-ansible-core
	label-Code-Review = -2..+2 group openstack-ansible-core
	label-Workflow = -1..+1 group openstack-ansible-core

[access "refs/heads/unmaintained/*"]
	abandon = group Change Owner
	abandon = group Project Bootstrappers
	abandon = group Release Managers
	abandon = group openstack-ansible-unmaintained-core
	exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
	label-Code-Review = -2..+2 group Project Bootstrappers
	label-Code-Review = -2..+2 group openstack-ansible-unmaintained-core
	label-Code-Review = -1..+1 group Registered Users
	label-Workflow = -1..+0 group Change Owner
	label-Workflow = -1..+1 group Project Bootstrappers
	label-Workflow = -1..+1 group openstack-ansible-unmaintained-core

[label "Backport-Candidate"]
	copyCondition = changekind:NO_CODE_CHANGE OR changekind:TRIVIAL_REBASE OR is:MAX OR is:MIN
	defaultValue = 0
	function = NoBlock
	value = -1 Not A Backport Candidate
	value = 0 Backport Review Needed
	value = +1 Proposed Backport

[submit-requirement "Backport-Candidate"]
	applicableIf = is:false
	description = Backport candidate status
	submittableIf = is:true
