[access]
inheritFrom = openstack/meta-config

[access "refs/heads/*"]
abandon = group openstack-planet-core
label-Code-Review = -2..+2 group openstack-planet-core
label-Workflow = -1..+1 group openstack-planet-core

[access "refs/tags/*"]
createSignedTag = group openstack-planet-release
createTag = group openstack-planet-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
