[access]
	inheritFrom = openstack/meta-config

[access "refs/heads/*"]
	abandon = group virtual-baremetal-core
	label-Code-Review = -2..+2 group virtual-baremetal-core
	label-Verified = -1..+1 group tripleo-ci
	label-Workflow = -1..+1 group virtual-baremetal-core

[receive]
	requireChangeId = true
	requireContributorAgreement = true

[submit]
	mergeContent = true
