[access "refs/heads/*"]
abandon = group openstack-resource-agents-core
create = group openstack-resource-agents-release
label-Code-Review = -2..+2 group openstack-resource-agents-core
label-Workflow = -1..+1 group openstack-resource-agents-core

[access "refs/tags/*"]
pushSignedTag = group openstack-resource-agents-release

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true
