[access "refs/heads/*"]
abandon = group os-dpm-core
create = group os-dpm-release
label-Code-Review = -2..+2 group os-dpm-core
label-Workflow = -1..+1 group os-dpm-core

[access "refs/tags/*"]
pushSignedTag = group os-dpm-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
