[access "refs/heads/*"]
abandon = group os-log-merger-core
label-Code-Review = -2..+2 group os-log-merger-core
label-Workflow = -1..+1 group os-log-merger-core

[access "refs/tags/*"]
pushSignedTag = group os-log-merger-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
