[access "refs/for/refs/*"]
pushMerge = group os-service-types-release

[access "refs/heads/*"]
abandon = group os-service-types-core
label-Code-Review = -2..+2 group os-service-types-core
label-Workflow = -1..+1 group os-service-types-core

[access "refs/tags/*"]
pushSignedTag = group os-service-types-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
