[access "refs/heads/*"]
abandon = group os-vif-core
label-Code-Review = -2..+2 group os-vif-core
label-Workflow = -1..+1 group os-vif-core

[access "refs/tags/*"]
pushSignedTag = group library-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
