[access "refs/heads/*"]
abandon = group os-xenapi-core
label-Code-Review = -2..+2 group os-xenapi-core
label-Verified = -1..+1 group os-xenapi-ci
label-Workflow = -1..+1 group os-xenapi-core

[access "refs/tags/*"]
pushSignedTag = group os-xenapi-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
