[access "refs/heads/*"]
abandon = group osel-core
create = group osel-core
label-Code-Review = -2..+2 group osel-core
label-Workflow = -1..+1 group osel-core

[access "refs/tags/*"]
pushSignedTag = group osel-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
