[access "refs/heads/*"]
abandon = group oslo-core
label-Code-Review = -2..+2 group oslo-core
label-Workflow = -1..+1 group oslo-core

[access "refs/heads/stable/*"]
abandon = group oslo-stable-maint
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group oslo-stable-maint
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group oslo-stable-maint

[access "refs/tags/*"]
pushSignedTag = group library-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
