[access]
inheritFrom = openstack/meta-config

[access "refs/for/refs/*"]
pushMerge = group oslo-cache-release

[access "refs/heads/*"]
abandon = group oslo-cache-core
label-Backport-Candidate = -2..+2 group oslo-cache-core
label-Backport-Candidate = -1..+1 group Registered Users
label-Code-Review = -2..+2 group oslo-cache-core
label-Workflow = -1..+1 group oslo-cache-core

[label "Backport-Candidate"]
copyAllScoresIfNoCodeChange = true
copyAllScoresOnTrivialRebase = true
copyMaxScore = true
copyMinScore = true
defaultValue = 0
function = NoBlock
value = -2 Do Not Backport
value = -1 Not A Backport Candidate
value = 0 Backport Review Needed
value = +1 Proposed Backport
value = +2 Should Backport

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
