[access "refs/heads/*"]
abandon = group oslo-upgradecheck-core
label-Code-Review = -2..+2 group oslo-upgradecheck-core
label-Workflow = -1..+1 group oslo-upgradecheck-core

[access "refs/heads/stable/*"]
abandon = group stable-maint-core
label-Code-Review = -2..+2 group stable-maint-core
label-Workflow = -1..+1 group stable-maint-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
