[access "refs/heads/*"]
abandon = group oslo-vmware-core
label-Code-Review = -2..+2 group oslo-vmware-core
label-Verified = -1..+1 group oslo-vmware-ci
label-Workflow = -1..+1 group oslo-vmware-core

[access "refs/heads/stable/*"]
abandon = group oslo-vmware-stable-maint
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group oslo-vmware-stable-maint
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group oslo-vmware-stable-maint

[access "refs/tags/*"]
pushSignedTag = group oslo-vmware-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
