[access "refs/heads/*"]
abandon = group osprofiler-core
label-Code-Review = -2..+2 group osprofiler-core
label-Workflow = -1..+1 group osprofiler-core

[access "refs/tags/*"]
pushSignedTag = group osprofiler-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
