[access]
	inheritFrom = openstack/meta-config

[access "refs/heads/*"]
	abandon = group ovn-bgp-agent-core
	label-Code-Review = -2..+2 group ovn-bgp-agent-core
	label-Workflow = -1..+1 group ovn-bgp-agent-core
	toggleWipState = group ovn-bgp-agent-core

[receive]
	requireChangeId = true
	requireContributorAgreement = true

[submit]
	mergeContent = true
