[access "refs/heads/*"]
abandon = group pandaman-core
label-Code-Review = -2..+2 group pandaman-core
label-Workflow = -1..+1 group pandaman-core

[access "refs/tags/*"]
pushSignedTag = group pandaman-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
