[access "refs/heads/*"]
abandon = group patrole-core
create = group patrole-release
label-Code-Review = -2..+2 group patrole-core
label-Workflow = -1..+1 group patrole-core

[access "refs/tags/*"]
pushSignedTag = group patrole-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
