[access "refs/heads/*"]
abandon = group performa-core
create = group performa-release
label-Code-Review = -2..+2 group performa-core
label-Workflow = -1..+1 group performa-core

[access "refs/tags/*"]
pushSignedTag = group performa-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
