[access "refs/heads/*"]
abandon = group performance-docs-core
create = group performance-docs-release
label-Code-Review = -2..+2 group performance-docs-core
label-Verified = -1..+1 group performance-docs-ci
label-Workflow = -1..+1 group performance-docs-core

[access "refs/tags/*"]
pushSignedTag = group performance-docs-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
