[access]
inheritFrom = openstack/meta-config

[access "refs/heads/*"]
abandon = group placement-core
label-Code-Review = -2..+2 group placement-core
label-Review-Priority = +0..+1 group Registered Users
label-Review-Priority = +0..+2 group placement-core
label-Verified = -1..+1 group placement-ci
label-Workflow = -1..+1 group placement-core

[access "refs/heads/stable/*"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group placement-stable-maint
abandon = group stable-maint-core
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Project Bootstrappers
label-Code-Review = -2..+2 group placement-stable-maint
label-Code-Review = -2..+2 group stable-maint-core
label-Code-Review = -1..+1 group Registered Users
label-Review-Priority = +0..+1 group Registered Users
label-Review-Priority = +0..+2 group placement-stable-maint
label-Review-Priority = +0..+2 group stable-maint-core
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group placement-stable-maint
label-Workflow = -1..+1 group stable-maint-core

[label "Review-Priority"]
copyCondition = is:ANY
defaultValue = 0
function = NoOp
value = 0 Default Priority
value = +1 Contributor Review Promise
value = +2 Core Review Promise

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
