[access "refs/heads/*"]
abandon = group project-team-guide-core
label-Code-Review = -2..+2 group project-team-guide-core
label-Workflow = -1..+1 group project-team-guide-core

[access "refs/tags/*"]
pushSignedTag = group project-team-guide-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
