[access "refs/heads/*"]
abandon = group tech-committee-chair
label-Code-Review = -2..+2 group tech-committee
label-Workflow = -1..+1 group tech-committee

[access "refs/tags/*"]
pushSignedTag = group tech-committee-chair

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
