[access "refs/heads/*"]
abandon = group publiccloud-wg-core
label-Code-Review = -2..+2 group publiccloud-wg-core
label-Workflow = -1..+1 group publiccloud-wg-core

[access "refs/tags/*"]
pushSignedTag = group publiccloud-wg-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
