[access]
inheritFrom = openstack/meta-config

[access "refs/heads/*"]
abandon = group publiccloud-sig-core
label-Code-Review = -2..+2 group publiccloud-sig-core
label-Workflow = -1..+1 group publiccloud-sig-core

[access "refs/tags/*"]
createSignedTag = group publiccloud-sig-release
createTag = group publiccloud-sig-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
