[access]
inheritFrom = openstack/meta-config

[access "refs/heads/*"]
abandon = group puppet-cinder-core
label-Code-Review = -2..+2 group puppet-cinder-core
label-Workflow = -1..+1 group puppet-cinder-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
