[access]
inheritFrom = openstack/meta-config

[access "refs/heads/*"]
abandon = group puppet-tripleo-core
abandon = group tripleo-core
label-Code-Review = -2..+2 group puppet-tripleo-core
label-Code-Review = -2..+2 group tripleo-core
label-Verified = -1..+1 group tripleo-ci
label-Workflow = -1..+1 group puppet-tripleo-core
label-Workflow = -1..+1 group tripleo-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
