[access "refs/heads/*"]
abandon = group puppet-panko-core
create = group puppet-manager-release
label-Code-Review = -2..+2 group puppet-panko-core
label-Workflow = -1..+1 group puppet-panko-core

[access "refs/tags/*"]
pushSignedTag = group puppet-manager-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
