[access "refs/heads/*"]
abandon = group python-dracclient-core
create = group python-dracclient-release
label-Code-Review = -2..+2 group python-dracclient-core
label-Workflow = -1..+1 group python-dracclient-core

[access "refs/tags/*"]
pushSignedTag = group python-dracclient-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
