[access "refs/for/refs/*"]
pushMerge = group swift-milestone

[access "refs/heads/*"]
abandon = group swiftclient-core
label-Code-Review = -2..+2 group swiftclient-core
label-Workflow = -1..+1 group swiftclient-core

[access "refs/heads/stable/*"]
abandon = group swift-stable-maint
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group swift-stable-maint
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group swift-stable-maint

[access "refs/tags/*"]
pushSignedTag = group swift-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
