[access "refs/heads/*"]
abandon = group cinder-core
label-Code-Review = -2..+2 group cinder-core
label-Workflow = -1..+1 group cinder-core

[access "refs/heads/stable/*"]
abandon = group cinder-stable-maint
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group cinder-stable-maint
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group cinder-stable-maint

[access "refs/tags/*"]
pushSignedTag = group cinder-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
