[access "refs/heads/*"]
abandon = group python-novaclient-core
label-Code-Review = -2..+2 group python-novaclient-core
label-Workflow = -1..+1 group python-novaclient-core

[access "refs/heads/stable/*"]
abandon = group nova-stable-maint
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group nova-stable-maint
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group nova-stable-maint

[access "refs/tags/*"]
pushSignedTag = group nova-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
