[access "refs/heads/*"]
abandon = group python-tempestconf-core
create = group python-tempestconf-release
label-Code-Review = -2..+2 group python-tempestconf-core
label-Workflow = -1..+1 group python-tempestconf-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
