[access]
	inheritFrom = openstack/meta-config

[access "refs/heads/*"]
	abandon = group octavia-client-core
	label-Backport-Candidate = -2..+2 group octavia-client-core
	label-Backport-Candidate = -1..+1 group Registered Users
	label-Code-Review = -2..+2 group octavia-client-core
	label-Verified = -1..+1 group octavia-ci
	label-Workflow = -1..+1 group octavia-client-core
	toggleWipState = group octavia-client-core

[access "refs/heads/stable/*"]
	abandon = group Change Owner
	abandon = group Project Bootstrappers
	abandon = group octavia-stable-maint
	abandon = group stable-maint-core
	exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
	label-Code-Review = -2..+2 group Project Bootstrappers
	label-Code-Review = -2..+2 group octavia-stable-maint
	label-Code-Review = -2..+2 group stable-maint-core
	label-Code-Review = -1..+1 group Registered Users
	label-Workflow = -1..+0 group Change Owner
	label-Workflow = -1..+1 group Project Bootstrappers
	label-Workflow = -1..+1 group octavia-stable-maint
	label-Workflow = -1..+1 group stable-maint-core

[label "Backport-Candidate"]
	copyCondition = changekind:NO_CODE_CHANGE OR changekind:TRIVIAL_REBASE
	defaultValue = 0
	function = NoBlock
	value = -2 Do Not Backport
	value = -1 Not A Backport Candidate
	value = 0 Backport Review Needed
	value = +1 Proposed Backport
	value = +2 Should Backport

[receive]
	requireChangeId = true
	requireContributorAgreement = true

[submit]
	mergeContent = true

[submit-requirement "Backport-Candidate"]
	applicableIf = is:false
	description = Backport candidate status
	submittableIf = is:true
