[access "refs/heads/*"]
abandon = group python-k8sclient-core
create = group python-k8sclient-release
label-Code-Review = -2..+2 group python-k8sclient-core
label-Workflow = -1..+1 group python-k8sclient-core

[access "refs/tags/*"]
pushSignedTag = group python-k8sclient-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
