[access "refs/heads/*"]
abandon = group python-novaclient-core
label-Code-Review = -2..+2 group python-novaclient-core
label-Workflow = -1..+1 group python-novaclient-core

[access "refs/heads/proposed/*"]
abandon = group nova-milestone
label-Code-Review = -2..+2 group nova-milestone
label-Workflow = -1..+1 group nova-milestone

[access "refs/tags/*"]
pushSignedTag = group nova-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
