[access "refs/heads/*"]
abandon = group python-redfish-core
create = group python-redfish-release
label-Code-Review = -2..+2 group python-redfish-core
label-Workflow = -1..+1 group python-redfish-core

[access "refs/tags/*"]
pushSignedTag = group python-redfish-release

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true
