[access]
	inheritFrom = openstack/meta-config

[access "refs/for/refs/*"]
	pushMerge = group python-openstackclient-core

[access "refs/heads/*"]
	abandon = group python-openstackclient-core
	label-Code-Review = -2..+2 group cinder-core
	label-Code-Review = -2..+2 group cyborg-core
	label-Code-Review = -2..+2 group designate-core
	label-Code-Review = -2..+2 group ironic-core
	label-Code-Review = -2..+2 group manila-core
	label-Code-Review = -2..+2 group masakari-core
	label-Code-Review = -2..+2 group neutron-core
	label-Code-Review = -2..+2 group nova-core
	label-Code-Review = -2..+2 group octavia-core
	label-Code-Review = -2..+2 group python-openstackclient-core
	label-Code-Review = -2..+2 group python-openstackclient-service-core
	label-Workflow = -1..+1 group python-openstackclient-core

[access "refs/heads/stable/*"]
	abandon = group Change Owner
	abandon = group Project Bootstrappers
	abandon = group python-openstackclient-stable-maint
	abandon = group stable-maint-core
	exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
	label-Code-Review = -2..+2 group Project Bootstrappers
	label-Code-Review = -2..+2 group python-openstackclient-stable-maint
	label-Code-Review = -2..+2 group stable-maint-core
	label-Code-Review = -1..+1 group Registered Users
	label-Workflow = -1..+0 group Change Owner
	label-Workflow = -1..+1 group Project Bootstrappers
	label-Workflow = -1..+1 group python-openstackclient-stable-maint
	label-Workflow = -1..+1 group stable-maint-core
