[access "refs/heads/*"]
abandon = group python-wsmanclient-core
create = group python-wsmanclient-release
label-Code-Review = -2..+2 group python-wsmanclient-core
label-Workflow = -1..+1 group python-wsmanclient-core

[access "refs/tags/*"]
pushSignedTag = group library-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
