[access "refs/heads/*"]
abandon = group qinling-core
create = group qinling-release
label-Code-Review = -2..+2 group qinling-core
label-Workflow = -1..+1 group qinling-core

[access "refs/tags/*"]
pushSignedTag = group qinling-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
