[access "refs/for/refs/*"]
pushMerge = group quark-release

[access "refs/heads/*"]
abandon = group quark-core
create = group quark-release
label-Code-Review = -2..+2 group quark-core
label-Workflow = -1..+1 group quark-core

[access "refs/tags/*"]
pushSignedTag = group quark-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
