[access "refs/heads/*"]
abandon = group rally-openstack-core
create = group rally-openstack-core
label-Code-Review = -2..+2 group rally-openstack-core
label-Verified = -1..+1 group rally-ci
label-Workflow = -1..+1 group rally-openstack-core

[access "refs/tags/*"]
pushSignedTag = group rally-openstack-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
