[access "refs/heads/*"]
abandon = group release-schedule-generator-core
label-Code-Review = -2..+2 group release-schedule-generator-core
label-Workflow = -1..+1 group release-schedule-generator-core

[access "refs/tags/*"]
pushSignedTag = group release-schedule-generator-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
