[access "refs/heads/*"]
abandon = group releases-core
create = group releases-core
label-Code-Review = -2..+2 group releases-core
label-Workflow = -1..+1 group releases-core

[access "refs/tags/*"]
pushSignedTag = group releases-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
