[access]
inheritFrom = openstack/meta-config

[access "refs/heads/*"]
abandon = group releases-core
label-Code-Review = -2..+2 group releases-core
label-PTL-Approved = +0..+1 group Continuous Integration Tools
label-Workflow = -1..+1 group releases-core

[label "PTL-Approved"]
copyAllScoresOnTrivialRebase = true
defaultValue = 0
function = NoOp
value = 0 Abstain
value = +1 Approved by PTL

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
