[access]
	inheritFrom = openstack/meta-config

[access "refs/heads/*"]
	abandon = group releases-core
	label-Code-Review = -2..+2 group releases-core
	label-PTL-Approved = +0..+1 group Continuous Integration Tools
	label-PTL-Approved = +0..+1 group releases-core
	label-Workflow = -1..+1 group releases-core

[label "PTL-Approved"]
	copyCondition = changekind:NO_CODE_CHANGE OR changekind:TRIVIAL_REBASE
	defaultValue = 0
	function = NoBlock
	value = 0 Not approved yet
	value = +1 Approved

[receive]
	requireChangeId = true
	requireContributorAgreement = true

[submit]
	mergeContent = true

[submit-requirement "PTL-Approved"]
	description = PTL Approval
	submittableIf = label:PTL-Approved>0
