[access "refs/heads/*"]
abandon = group reno-core
create = group reno-core
label-Code-Review = -2..+2 group reno-core
label-Workflow = -1..+1 group reno-core

[access "refs/tags/*"]
pushSignedTag = group Release Managers

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
