[access]
inheritFrom = openstack/meta-config

[access "refs/heads/*"]
abandon = group reviewstats-core
label-Code-Review = -2..+2 group reviewstats-core
label-Workflow = -1..+1 group reviewstats-core

[access "refs/tags/*"]
createSignedTag = group reviewstats-release
createTag = group reviewstats-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
