[access "refs/heads/*"]
abandon = group rpm-packaging-core
create = group rpm-packaging-core
label-Code-Review = -2..+2 group rpm-packaging-core
label-Verified = -1..+1 group rpm-packaging-ci
label-Workflow = -1..+1 group rpm-packaging-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
