[access "refs/heads/*"]
abandon = group rsc-core
create = group rsc-release
label-Code-Review = -2..+2 group rsc-core
label-Workflow = -1..+1 group rsc-core

[access "refs/tags/*"]
pushSignedTag = group rsc-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
