[access "refs/heads/*"]
abandon = group sahara-scenario-core
label-Code-Review = -2..+2 group sahara-scenario-core
label-Workflow = -1..+1 group sahara-scenario-core

[access "refs/tags/*"]
pushSignedTag = group sahara-scenario-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
