[access "refs/heads/*"]
abandon = group sahara-tests-core
label-Code-Review = -2..+2 group sahara-tests-core
label-Verified = -1..+1 group sahara-ci
label-Workflow = -1..+1 group sahara-tests-core

[access "refs/tags/*"]
pushSignedTag = group sahara-tests-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
