[access "refs/heads/*"]
abandon = group service-types-authority-core
label-Code-Review = -2..+2 group service-types-authority-core
label-Workflow = -1..+1 group service-types-authority-core

[access "refs/tags/*"]
pushSignedTag = group service-types-authority-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
