[access "refs/heads/*"]
abandon = group shotgun-core
create = group shotgun-release
label-Code-Review = -2..+2 group shotgun-core
label-Workflow = -1..+1 group shotgun-core

[access "refs/tags/*"]
pushSignedTag = group shotgun-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
