[access "refs/heads/*"]
abandon = group spanner-core
label-Code-Review = -2..+2 group spanner-core
label-Workflow = -1..+1 group spanner-core

[access "refs/tags/*"]
pushSignedTag = group spanner-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
