[access "refs/heads/*"]
abandon = group stackalytics-core
create = group stackalytics-core
label-Code-Review = -2..+2 group stackalytics-core
label-Workflow = -1..+1 group stackalytics-core

[access "refs/tags/*"]
pushSignedTag = group stackalytics-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
