[access "refs/heads/*"]
abandon = group stackviz-core
label-Code-Review = -2..+2 group stackviz-core
label-Workflow = -1..+1 group stackviz-core

[access "refs/tags/*"]
pushSignedTag = group stackviz-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
