[access]
	inheritFrom = openstack/meta-config

[access "refs/heads/*"]
	abandon = group sushy-oem-idrac-core
	create = group sushy-oem-idrac-release
	label-Code-Review = -2..+2 group sushy-oem-idrac-core
	label-Verified = -1..+1 group sushy-oem-idrac-ci
	label-Workflow = -1..+1 group sushy-oem-idrac-core
	toggleWipState = group sushy-oem-idrac-core

[access "refs/tags/*"]
	createSignedTag = group sushy-oem-idrac-release

[receive]
	requireChangeId = true
	requireContributorAgreement = true

[submit]
	mergeContent = true
