[access "refs/heads/*"]
abandon = group swauth-core
create = group swauth-release
label-Code-Review = -2..+2 group swauth-core
label-Workflow = -1..+1 group swauth-core

[access "refs/tags/*"]
pushSignedTag = group swauth-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
