[access "refs/heads/*"]
abandon = group swiftonhpss-core
create = group swiftonhpss-release
label-Code-Review = -2..+2 group swiftonhpss-core
label-Workflow = -1..+1 group swiftonhpss-core

[access "refs/tags/*"]
pushSignedTag = group swiftonhpss-release

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true
