[access "refs/for/refs/*"]
pushMerge = group swift-milestone

[access "refs/heads/*"]
abandon = group swift-core
label-Code-Review = -2..+2 group swift-core
label-Workflow = -1..+1 group swift-core

[access "refs/heads/stable/*"]
abandon = group swift-stable-maint
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group swift-stable-maint
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group swift-stable-maint

[access "refs/heads/stable/liberty"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group Release Managers
abandon = group swift-milestone
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Project Bootstrappers
label-Code-Review = -2..+2 group Release Managers
label-Code-Review = -2..+2 group swift-milestone
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group Release Managers
label-Workflow = -1..+1 group swift-milestone
owner = group Release Managers

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
