[access "refs/heads/*"]
abandon = group syntribos-core
label-Code-Review = -2..+2 group syntribos-core
label-Workflow = -1..+1 group syntribos-core

[access "refs/tags/*"]
pushSignedTag = group syntribos-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
