[access "refs/heads/*"]
abandon = group tacker-core
create = group tacker-release
label-Code-Review = -2..+2 group tacker-core
label-Workflow = -1..+1 group tacker-core

[access "refs/heads/stable/*"]
abandon = group tacker-core
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group tacker-core
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group tacker-core

[access "refs/tags/*"]
pushSignedTag = group tacker-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
