[access]
inheritFrom = openstack/meta-config

[access "refs/heads/*"]
abandon = group tap-as-a-service-core
label-Code-Review = -2..+2 group tap-as-a-service-core
label-Review-Priority = -1..+2 group tap-as-a-service-core
label-Workflow = -1..+1 group tap-as-a-service-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
