[access "refs/heads/*"]
abandon = group tempest-core
label-Code-Review = -2..+2 group tempest-core
label-Verified = -1..+1 group tempest-ci
label-Workflow = -1..+1 group tempest-core

[access "refs/tags/*"]
pushSignedTag = group tempest-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
