[access "refs/heads/*"]
abandon = group tosca-parser-core
label-Code-Review = -2..+2 group tosca-parser-core
label-Workflow = -1..+1 group tosca-parser-core

[access "refs/tags/*"]
pushSignedTag = group tosca-parser-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
