[access "refs/heads/*"]
abandon = group training-labs-core
create = group training-labs-core
label-Code-Review = -2..+2 group training-labs-core
label-Workflow = -1..+1 group training-labs-core

[access "refs/tags/*"]
pushSignedTag = group training-labs-core

[receive]
requireChangeId = true

[submit]
mergeContent = true
