[access "refs/heads/*"]
abandon = group tripleo-upgrade-core
label-Code-Review = -2..+2 group tripleo-upgrade-core
label-Verified = -1..+1 group tripleo-ci
label-Workflow = -1..+1 group tripleo-upgrade-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
