[access "refs/heads/*"]
abandon = group tripleo-ui-core
create = group tripleo-ui-release
label-Code-Review = -2..+2 group tripleo-ui-core
label-Workflow = -1..+1 group tripleo-ui-core

[access "refs/tags/*"]
pushSignedTag = group tripleo-ui-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
