[access "refs/heads/*"]
abandon = group trove-core
label-Code-Review = -2..+2 group trove-core
label-Verified = -1..+1 group trove-ci
label-Workflow = -1..+1 group trove-core

[access "refs/heads/stable/*"]
abandon = group trove-stable-maint
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group trove-stable-maint
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group trove-stable-maint

[access "refs/heads/stable/liberty"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group Release Managers
abandon = group trove-milestone
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Project Bootstrappers
label-Code-Review = -2..+2 group Release Managers
label-Code-Review = -2..+2 group trove-milestone
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group Release Managers
label-Workflow = -1..+1 group trove-milestone
owner = group Release Managers

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
