[access "refs/heads/*"]
abandon = group tuning-box-core
create = group tuning-box-core
label-Code-Review = -2..+2 group tuning-box-core
label-Workflow = -1..+1 group tuning-box-core

[access "refs/tags/*"]
pushSignedTag = group tuning-box-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
