[access "refs/heads/*"]
abandon = group upstream-institute-virtual-environment-core
label-Code-Review = -2..+2 group upstream-institute-virtual-environment-core
label-Workflow = -1..+1 group upstream-institute-virtual-environment-core

[access "refs/tags/*"]
pushSignedTag = group upstream-institute-virtual-environment-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
