[access]
inheritFrom = openstack/meta-config

[access "refs/heads/*"]
abandon = group virtualpdu-core
editHashtags = group virtualpdu-core
label-Code-Review = -2..+2 group virtualpdu-core
label-Workflow = -1..+1 group virtualpdu-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
