[access "refs/heads/*"]
abandon = group vitrage-core
create = group vitrage-release
label-Code-Review = -2..+2 group vitrage-core
label-Workflow = -1..+1 group vitrage-core

[access "refs/tags/*"]
pushSignedTag = group vitrage-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
