[access "refs/for/refs/*"]
pushMerge = group neutron-milestone

[access "refs/heads/*"]
abandon = group vmware-nsx-core
create = group vmware-nsx-release
label-Code-Review = -2..+2 group vmware-nsx-core
label-Verified = -1..+1 group oslo-vmware-ci
label-Workflow = -1..+1 group vmware-nsx-core

[access "refs/tags/*"]
pushSignedTag = group neutron-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
