[access "refs/heads/*"]
abandon = group watcher-core
create = group watcher-release
label-Code-Review = -2..+2 group watcher-core
label-Workflow = -1..+1 group watcher-core

[access "refs/tags/*"]
pushSignedTag = group watcher-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
