[access "refs/heads/*"]
abandon = group watcher-dashboard-core
create = group watcher-dashboard-release
label-Code-Review = -2..+2 group watcher-dashboard-core
label-Workflow = -1..+1 group watcher-dashboard-core

[access "refs/tags/*"]
pushSignedTag = group library-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
