[access "refs/heads/*"]
abandon = group windmill-core
label-Code-Review = -2..+2 group windmill-core
label-Workflow = -1..+1 group windmill-core

[access "refs/tags/*"]
pushSignedTag = group windmill-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
