[access "refs/heads/*"]
abandon = group yaql-core
create = group yaql-release
label-Code-Review = -2..+2 group yaql-core
label-Workflow = -1..+1 group yaql-core

[access "refs/heads/stable/*"]
abandon = group yaql-milestone
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group yaql-milestone
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group yaql-milestone

[access "refs/tags/*"]
pushSignedTag = group yaql-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
