[access "refs/heads/*"]
abandon = group zun-ui-core
create = group zun-release
label-Code-Review = -2..+2 group zun-ui-core
label-Workflow = -1..+1 group zun-ui-core

[access "refs/tags/*"]
pushSignedTag = group zun-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
