- hosts: all
  tasks:
    - name: Run release scripts
      shell:
        cmd: |
          set -x

          RELEASES_DIR=$HOME/src/{{ zuul.project.canonical_name }}
          # Tell the launchpad script run from release.sh where its
          # credentials file is.
          export LP_CREDS_FILE=~/.launchpadlib/creds

          # Pass the location of the openstack/releases repo to
          # release_from_yaml.sh explicitly so it knows where to scan to
          # look for modified files.
          ~/scripts/release-tools/process_release_requests.sh $RELEASES_DIR
          RC=$?

          exit $RC
        executable: /bin/bash
