[access "refs/heads/*"]
abandon = group ansible-role-ara-core
create = group ansible-role-ara-release
label-Code-Review = -2..+2 group ansible-role-ara-core
label-Workflow = -1..+1 group ansible-role-ara-core

[access "refs/tags/*"]
pushSignedTag = group ansible-role-ara-release

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true
