[access "refs/heads/*"]
	abandon = group sardonic-core
	create = group sardonic-release
	label-Code-Review = -2..+2 group sardonic-core
	label-Workflow = -1..+1 group sardonic-core

[access "refs/tags/*"]
	createSignedTag = group sardonic-release

[receive]
	requireChangeId = true

[submit]
	mergeContent = true
