[access "refs/heads/*"]
abandon = group apps-catalog-core
label-Code-Review = -2..+2 group apps-catalog-core
label-Workflow = -1..+1 group apps-catalog-core

[access "refs/tags/*"]
pushSignedTag = group apps-catalog-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
