[access "refs/heads/*"]
abandon = group cerberus-core
label-Code-Review = -2..+2 group cerberus-core
label-Workflow = -1..+1 group cerberus-core

[access "refs/tags/*"]
pushSignedTag = group cerberus-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
