[access "refs/heads/*"]
abandon = group cloud-pydashie-core
label-Code-Review = -2..+2 group cloud-pydashie-core
label-Workflow = -1..+1 group cloud-pydashie-core

[access "refs/tags/*"]
pushSignedTag = group cloud-pydashie-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
