[access "refs/heads/*"]
abandon = group cloudpulse-core
label-Code-Review = -2..+2 group cloudpulse-core
label-Workflow = -1..+1 group cloudpulse-core

[access "refs/tags/*"]
pushSignedTag = group cloudpulse-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
