[access "refs/heads/*"]
abandon = group cloud-init-core
label-Code-Review = -2..+2 group cloud-init-core
label-Workflow = -1..+1 group cloud-init-core

[access "refs/tags/*"]
pushSignedTag = group cloud-init-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
