[access "refs/heads/*"]
abandon = group compute-hyperv-core
create = group compute-hyperv-core
label-Code-Review = -2..+2 group compute-hyperv-core
label-Workflow = -1..+1 group compute-hyperv-core

[access "refs/heads/stable/*"]
abandon = group compute-hyperv-core
label-Code-Review = -2..+2 group compute-hyperv-core
label-Workflow = -1..+1 group compute-hyperv-core

[access "refs/tags/*"]
pushSignedTag = group compute-hyperv-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
