[access "refs/heads/*"]
abandon = group fuel-docs-core
create = group fuel-docs-core
label-Code-Review = -2..+2 group fuel-docs-core
label-Verified = -1..+1 group fuel-ci
label-Workflow = -1..+1 group fuel-docs-core
pushMerge = group fuel-core

[access "refs/tags/*"]
pushSignedTag = group fuel-docs-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
