[access "refs/heads/*"]
abandon = group fuel-plugin-group-based-policy-core
create = group fuel-plugin-group-based-policy-core
label-Code-Review = -2..+2 group fuel-plugin-group-based-policy-core
label-Verified = -1..+1 group fuel-ci
label-Workflow = -1..+1 group fuel-plugin-group-based-policy-core

[access "refs/tags/*"]
pushSignedTag = group fuel-plugin-group-based-policy-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
