[access "refs/heads/*"]
abandon = group fuel-ostf-core
create = group fuel-ostf-core
label-Code-Review = -2..+2 group fuel-ostf-core
label-Verified = -1..+1 group fuel-ci
label-Workflow = -1..+1 group fuel-ostf-core

[access "refs/heads/stable/6.1"]
abandon = group fuel-ostf-core
create = group fuel-ostf-core
label-Code-Review = -2..+2 group fuel-ostf-core
label-Verified = -1..+1 group fuel-ci
label-Workflow = -1..+1 group fuel-stable-core

[access "refs/tags/*"]
pushSignedTag = group fuel-ostf-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
