[access "refs/heads/*"]
abandon = group heat-coe-templates-core
label-Code-Review = -2..+2 group heat-coe-templates-core
label-Workflow = -1..+1 group heat-coe-templates-core

[access "refs/tags/*"]
pushSignedTag = group heat-coe-templates-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
