[access "refs/heads/*"]
abandon = group i18n-test-core
label-Code-Review = -2..+2 group i18n-test-core
label-Workflow = -1..+1 group i18n-test-core

[access "refs/tags/*"]
pushSignedTag = group i18n-test-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
