[access "refs/heads/*"]
abandon = group ironic-discoverd-core
create = group ironic-discoverd-core
label-Code-Review = -2..+2 group ironic-discoverd-core
label-Workflow = -1..+1 group ironic-discoverd-core

[access "refs/tags/*"]
pushSignedTag = group ironic-discoverd-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
