[access "refs/heads/*"]
abandon = group mercador-core
label-Code-Review = -2..+2 group mercador-core
label-Workflow = -1..+1 group mercador-core

[access "refs/tags/*"]
pushSignedTag = group mercador-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
