[access "refs/heads/*"]
abandon = group networking-vsphere-core
create = group networking-vsphere-release
label-Code-Review = -2..+2 group networking-vsphere-core
label-Workflow = -1..+1 group networking-vsphere-core

[access "refs/tags/*"]
pushSignedTag = group networking-vsphere-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
