[access "refs/heads/*"]
abandon = group networking-cisco-core
create = group networking-cisco-release
label-Code-Review = -2..+2 group networking-cisco-core
label-Workflow = -1..+1 group networking-cisco-core

[access "refs/tags/*"]
pushSignedTag = group networking-cisco-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
