[access "refs/heads/*"]
abandon = group networking-l2gw
label-Code-Review = -2..+2 group networking-l2gw
label-Workflow = -1..+1 group networking-l2gw

[access "refs/tags/*"]
pushSignedTag = group networking-l2gw

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
