[access "refs/heads/*"]
abandon = group networking-6wind-core
create = group networking-6wind-release
label-Code-Review = -2..+2 group networking-6wind-core
label-Workflow = -1..+1 group networking-6wind-core

[access "refs/tags/*"]
pushSignedTag = group networking-6wind-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
