[access "refs/heads/*"]
abandon = group networking-ovs-dpdk-core
create = group networking-ovs-dpdk-release
label-Code-Review = -2..+2 group networking-ovs-dpdk-core
label-Workflow = -1..+1 group networking-ovs-dpdk-core

[access "refs/heads/stable/*"]
exclusiveGroupPermissions = label-Workflow
label-Workflow = -1..+1 group networking-ovs-dpdk-release

[access "refs/tags/*"]
pushSignedTag = group networking-ovs-dpdk-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
