[access "refs/heads/*"]
abandon = group networking-brocade-core
label-Code-Review = -2..+2 group networking-brocade-core
label-Workflow = -1..+1 group networking-brocade-core

[access "refs/tags/*"]
pushSignedTag = group networking-brocade-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
