[access "refs/heads/*"]
abandon = group os-ansible-deployment-core
create = group os-ansible-deployment-release
label-Code-Review = -2..+2 group os-ansible-deployment-core
label-Workflow = -1..+1 group os-ansible-deployment-core

[access "refs/heads/proposed/*"]
abandon = group os-ansible-deployment-core
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group os-ansible-deployment-core
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group os-ansible-deployment-core

[access "refs/tags/*"]
pushSignedTag = group os-ansible-deployment-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
