[access "refs/heads/*"]
abandon = group proliantutils-core
create = group proliantutils-core
label-Code-Review = -2..+2 group proliantutils-core
label-Workflow = -1..+1 group proliantutils-core

[access "refs/heads/stable/*"]
abandon = group proliantutils-core
create = group proliantutils-core
label-Code-Review = -2..+2 group proliantutils-core
label-Workflow = -1..+1 group proliantutils-core

[access "refs/tags/*"]
pushSignedTag = group proliantutils-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
