[access "refs/heads/*"]
abandon = group puppet-openstack-cloud-core
create = group puppet-openstack-cloud-core
label-Code-Review = -2..+2 group puppet-openstack-cloud-core
label-Workflow = -1..+1 group puppet-openstack-cloud-core

[access "refs/tags/*"]
pushSignedTag = group puppet-openstack-cloud-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
