[access "refs/heads/*"]
abandon = group python-fuelclient-core
create = group python-fuelclient-release
label-Code-Review = -2..+2 group python-fuelclient-core
label-Verified = -1..+1 group fuel-ci
label-Workflow = -1..+1 group python-fuelclient-core

[access "refs/tags/*"]
pushSignedTag = group python-fuelclient-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
