[access "refs/heads/*"]
abandon = group cloudfoundryclient-core
label-Code-Review = -2..+2 group cloudfoundryclient-core
label-Verified = -1..+1 group congress-ci
label-Workflow = -1..+1 group cloudfoundryclient-core

[access "refs/tags/*"]
pushSignedTag = group cloudfoundryclient-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
