[access "refs/heads/*"]
abandon = group vmtp-core
label-Code-Review = -2..+2 group vmtp-core
label-Verified = -1..+1 group vmtp-core
label-Workflow = -1..+1 group vmtp-core
rebase = group vmtp-core

[access "refs/tags/*"]
pushSignedTag = group vmtp-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
