dashboard:
  title: Zuul Status
  rows:
    - title: Description
      height: 100px
      panels:
        - title: Description
          content: |
            **This dashboard is managed by [Grafyaml](http://docs.openstack.org/infra/system-config/grafyaml.html).**

            If you would like to make changes to this dashboard, please see the grafana directory in [project-config](https://git.openstack.org/cgit/openstack-infra/project-config/tree/grafana/zuul-status.yaml).
          type: text
    - title: Pipelines
      height: 150px
      panels:
        - title: Check
          span: 2
          sparkline:
            full: true
            show: true
          targets:
            - target: stats.gauges.zuul.pipeline.check.current_changes
          type: singlestat
          valueName: current
        - title: Gate
          span: 2
          sparkline:
            full: true
            show: true
          targets:
            - target: stats.gauges.zuul.pipeline.gate.current_changes
          type: singlestat
          valueName: current
        - title: Post
          span: 2
          sparkline:
            full: true
            show: true
          targets:
            - target: stats.gauges.zuul.pipeline.post.current_changes
          type: singlestat
        - title: Release-Post
          span: 2
          sparkline:
            full: true
            show: true
          targets:
            - target: stats.gauges.zuul.pipeline.release-post.current_changes
          type: singlestat
          valueName: current
          valueName: current
        - title: Tag
          span: 2
          sparkline:
            full: true
            show: true
          targets:
              - target: stats.gauges.zuul.pipeline.tag.current_changes
          type: singlestat
          valueName: current
        - title: Pre-Release
          span: 2
          sparkline:
            full: true
            show: true
          targets:
              - target: stats.gauges.zuul.pipeline.pre-release.current_changes
          type: singlestat
          valueName: current
        - title: Release
          span: 2
          sparkline:
            full: true
            show: true
          targets:
              - target: stats.gauges.zuul.pipeline.release.current_changes
          type: singlestat
          valueName: current
        - title: Silent
          span: 2
          sparkline:
            full: true
            show: true
          targets:
              - target: stats.gauges.zuul.pipeline.silent.current_changes
          type: singlestat
          valueName: current
        - title: Experimental
          span: 2
          sparkline:
            full: true
            show: true
          targets:
              - target: stats.gauges.zuul.pipeline.experimental.current_changes
          type: singlestat
          valueName: current
        - title: Periodic
          span: 2
          sparkline:
            full: true
            show: true
          targets:
              - target: stats.gauges.zuul.pipeline.periodic.current_changes
          type: singlestat
          valueName: current
        - title: Periodic-Stable
          span: 2
          sparkline:
            full: true
            show: true
          targets:
              - target: stats.gauges.zuul.pipeline.periodic-stable.current_changes
          type: singlestat
          valueName: current
        - title: Check-TripleO
          span: 2
          sparkline:
            full: true
            show: true
          targets:
              - target: stats.gauges.zuul.pipeline.check-tripleo.current_changes
          type: singlestat
          valueName: current
        - title: Experimental-TripleO
          span: 2
          sparkline:
            full: true
            show: true
          targets:
              - target: stats.gauges.zuul.pipeline.experimental-tripleo.current_changes
          type: singlestat
          valueName: current
        - title: Merge-Check
          span: 2
          sparkline:
            full: true
            show: true
          targets:
              - target: stats.gauges.zuul.pipeline.merge-check.current_changes
          type: singlestat
          valueName: current
      showTitle: true
    - title: Graphs
      height: 250px
      panels:
        - title: Test Nodes
          span: 4
          stack: true
          tooltip:
            value_type: individual
          targets:
            - target: alias(stats.gauges.nodepool.nodes.building, 'Building')
            - target: alias(stats.gauges.nodepool.nodes.ready, 'Available')
            - target: alias(stats.gauges.nodepool.nodes.used, 'In Use')
            - target: alias(stats.gauges.nodepool.nodes.delete, 'Deleting')
            - target: alias(sumSeries(stats.gauges.nodepool.provider.*.max_servers), 'Max')
          seriesOverrides:
            - alias: Max
              stack: False
          type: graph
        - title: Zuul Jobs Launched (per Hour)
          span: 4
          targets:
            - target: alias(summarize(sumSeries(stats_counts.zuul.pipeline.*.all_jobs), '1h'), 'All Jobs')
          type: graph
        - title: Gerrit Events (per Hour)
          span: 4
          targets:
            - target: alias(summarize(stats_counts.gerrit.event.comment-added, '1h'), 'Comment added')
            - target: alias(summarize(stats_counts.gerrit.event.patchset-created, '1h'), 'Patchset created')
            - target: alias(summarize(stats_counts.gerrit.event.change-merged, '1h'), 'Change merged')
          type: graph
        - title: Zuul Job Queue
          span: 4
          targets:
            - target: alias(stats.gauges.zuul.geard.queue.running, 'Running')
            - target: alias(stats.gauges.zuul.geard.queue.waiting, 'Waiting')
            - target: alias(stats.gauges.zuul.geard.queue.total, 'Total Jobs')
            - target: alias(stats.gauges.zuul.geard.workers, 'Workers')
          type: graph
        - title: Logstash Job Queue
          span: 4
          targets:
            - target: alias(stats.gauges.logstash.geard.queue.running, 'Running')
            - target: alias(stats.gauges.logstash.geard.queue.waiting, 'Waiting')
            - target: alias(stats.gauges.logstash.geard.queue.total, 'Total Jobs')
            - target: alias(stats.gauges.logstash.geard.workers, 'Workers')
          type: graph
    - title: Executors
      showTitle: true
      height: 250px
      panels:
        - title: Running Builds
          span: 4
          targets:
            - target: aliasByNode(stats.gauges.zuul.executor.*.openstack.org.running_builds, 4)
          type: graph
        - title: Load Average
          span: 4
          targets:
            - target: aliasByNode(stats.gauges.zuul.executor.*.openstack.org.load_average, 4)
          type: graph
