[access "refs/heads/*"]
	abandon = group airshipapis-core
	create = group airship-release
	label-Code-Review = -2..+2 group airshipapis-core
	label-Verified = -1..+1 group airship-ci
	label-Workflow = -1..+1 group airshipapis-core

[access "refs/tags/*"]
	createSignedTag = group airship-release

[receive]
	requireChangeId = true
	requireSignedOffBy = true

[submit]
	mergeContent = true
