[access "refs/heads/*"]
abandon = group airship-images-core
create = group airship-release
label-Code-Review = -2..+2 group airship-images-core
label-Verified = -1..+1 group airship-ci
label-Workflow = -1..+1 group airship-images-core

[access "refs/tags/*"]
createSignedTag = group airship-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
