[access "refs/for/refs/*"]
pushMerge = group airship-release

[access "refs/heads/*"]
abandon = group treasuremap-core
create = group airship-release
label-Code-Review = -2..+2 group treasuremap-core
label-Verified = -1..+1 group airship-ci
label-Workflow = -1..+1 group treasuremap-core

[access "refs/tags/*"]
pushSignedTag = group airship-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
