- name: Copy the common files to the remote node
  copy:
    # src is relative to the dir the playbook is in on the executor
    dest: "{{ ansible_user_dir }}/scripts/"
    src: '{{ item }}'
    mode: 0755
  with_items:
    - common.sh
