[access "refs/heads/*"]
abandon = group ansible-role-refstack-client-core
create = group ansible-role-refstack-client-release
label-Code-Review = -2..+2 group ansible-role-refstack-client-core
label-Verified = -1..+1 group ansible-role-refstack-client-ci
label-Workflow = -1..+1 group ansible-role-refstack-client-core

[access "refs/tags/*"]
pushSignedTag = group ansible-role-refstack-client-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
