[access "refs/heads/*"]
abandon = group apmec-core
create = group apmec-release
label-Code-Review = -2..+2 group apmec-core
label-Workflow = -1..+1 group apmec-core

[access "refs/tags/*"]
createSignedTag = group apmec-release
createTag = group apmec-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
