[access "refs/heads/*"]
	abandon = group cascade-core
	create = group cascade-release
	label-Code-Review = -2..+2 group cascade-core
	label-Workflow = -1..+1 group cascade-core

[access "refs/tags/*"]
	createSignedTag = group cascade-release

[receive]
	requireChangeId = true
	requireSignedOffBy = true

[submit]
	mergeContent = true
