[access "refs/heads/*"]
abandon = group charm-6wind-virtual-accelerator-core
create = group charm-6wind-virtual-accelerator-release
label-Code-Review = -2..+2 group charm-6wind-virtual-accelerator-core
label-Verified = -1..+1 group charms-ci
label-Workflow = -1..+1 group charm-6wind-virtual-accelerator-core

[access "refs/tags/*"]
pushSignedTag = group charm-6wind-virtual-accelerator-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
