[access "refs/heads/*"]
	abandon = group charms-core
	create = group charms-release
	label-Code-Review = -2..+2 group charms-core
	label-Verified = -1..+1 group charms-ci
	label-Workflow = -1..+1 group charms-core

[access "refs/heads/stable/*"]
	abandon = group charms-stable-maint
	label-Code-Review = -2..+2 group charms-stable-maint
	label-Code-Review = -1..+1 group Registered Users
	label-Workflow = -1..+1 group charms-stable-maint

[access "refs/tags/*"]
	createSignedTag = group charms-release

[receive]
	requireChangeId = true
	requireContributorAgreement = true

[submit]
	mergeContent = true
