[access "refs/heads/*"]
abandon = group conveyor-core
create = group conveyor-release
label-Code-Review = -2..+2 group conveyor-core
label-Workflow = -1..+1 group conveyor-core

[access "refs/tags/*"]
pushSignedTag = group conveyor-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
