[access "refs/heads/*"]
abandon = group coupler-core
create = group coupler-release
label-Code-Review = -2..+2 group coupler-core
label-Workflow = -1..+1 group coupler-core

[access "refs/tags/*"]
pushSignedTag = group coupler-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
