[access "refs/heads/*"]
abandon = group devstack-plugin-tar-installer-core
create = group devstack-plugin-tar-installer-release
label-Code-Review = -2..+2 group devstack-plugin-tar-installer-core
label-Workflow = -1..+1 group devstack-plugin-tar-installer-core

[access "refs/tags/*"]
pushSignedTag = group devstack-plugin-tar-installer-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
