[access "refs/heads/*"]
abandon = group docker-machine-openstack-core
label-Code-Review = -2..+2 group docker-machine-openstack-core
label-Workflow = -1..+1 group docker-machine-openstack-core

[access "refs/tags/*"]
pushSignedTag = group docker-machine-openstack-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
