[access "refs/for/refs/*"]
pushMerge = group fuel-plugin-lma-collector-release

[access "refs/heads/*"]
abandon = group fuel-plugin-lma-collector-core
create = group fuel-plugin-lma-collector-release
label-Code-Review = -2..+2 group fuel-plugin-lma-collector-core
label-Verified = -1..+1 group fuel-plugins-ci
label-Workflow = -1..+1 group fuel-plugin-lma-collector-core

[access "refs/tags/*"]
pushSignedTag = group fuel-plugin-lma-collector-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
