[access "refs/heads/*"]
abandon = group fuel-ccp-murano-core
label-Code-Review = -2..+2 group fuel-ccp-murano-core
label-Verified = -1..+1 group fuel-ccp-ci
label-Workflow = -1..+1 group fuel-ccp-murano-core

[access "refs/tags/*"]
pushSignedTag = group fuel-ccp-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
