[access "refs/heads/*"]
abandon = group gabbi-tempest-core
create = group gabbi-tempest-core
label-Code-Review = -2..+2 group gabbi-tempest-core
label-Workflow = -1..+1 group gabbi-tempest-core

[access "refs/tags/*"]
createSignedTag = group gabbi-tempest-core

[receive]
requireChangeId = true

[submit]
mergeContent = true
