[access "refs/heads/*"]
	abandon = group gce-api-core
	create = group gce-api-managers
	label-Code-Review = -2..+2 group gce-api-core
	label-Workflow = -1..+1 group gce-api-core

[access "refs/tags/*"]
	createSignedTag = group gce-api-managers

[receive]
	requireChangeId = true

[submit]
	mergeContent = true
