[access "refs/heads/*"]
abandon = group git-repo-manifests-core
create = group git-repo-manifests-release
label-Code-Review = -2..+2 group git-repo-manifests-core
label-Workflow = -1..+1 group git-repo-manifests-core

[access "refs/tags/*"]
pushSignedTag = group git-repo-manifests-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
