[access "refs/heads/*"]
abandon = group gos-brick-core
create = group gos-brick-release
label-Code-Review = -2..+2 group gos-brick-core
label-Workflow = -1..+1 group gos-brick-core

[access "refs/tags/*"]
pushSignedTag = group gos-brick-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
