[access "refs/heads/*"]
abandon = group gyan-core
create = group gyan-release
label-Code-Review = -2..+2 group gyan-core
label-Workflow = -1..+1 group gyan-core

[access "refs/tags/*"]
createSignedTag = group gyan-release
createTag = group gyan-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
