[access "refs/heads/*"]
abandon = group horizon-mellanox-core
create = group horizon-mellanox-release
label-Code-Review = -2..+2 group horizon-mellanox-core
label-Workflow = -1..+1 group horizon-mellanox-core

[access "refs/tags/*"]
pushSignedTag = group horizon-mellanox-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
