[access "refs/heads/*"]
abandon = group hurricane-core
create = group hurricane-release
label-Code-Review = -2..+2 group hurricane-core
label-Workflow = -1..+1 group hurricane-core

[access "refs/tags/*"]
pushSignedTag = group hurricane-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
