[access "refs/heads/*"]
abandon = group ironic-staging-drivers-core
create = group ironic-staging-drivers-release
label-Code-Review = -2..+2 group ironic-staging-drivers-core
label-Workflow = -1..+1 group ironic-staging-drivers-core

[access "refs/tags/*"]
pushSignedTag = group ironic-staging-drivers-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
