[access "refs/heads/*"]
abandon = group jenkins-plugins-for-murano-core
create = group jenkins-plugins-for-murano-release
label-Code-Review = -2..+2 group jenkins-plugins-for-murano-core
label-Verified = -1..+1 group jenkins-plugins-for-murano-ci
label-Workflow = -1..+1 group jenkins-plugins-for-murano-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
