[access "refs/heads/*"]
	abandon = group k8s-cloud-provider-core
	label-Code-Review = -2..+2 group k8s-cloud-provider-core
	label-Workflow = -1..+1 group k8s-cloud-provider-core

[access "refs/tags/*"]
	createSignedTag = group k8s-cloud-provider-release

[receive]
	requireChangeId = true

[submit]
	mergeContent = true
