[access "refs/heads/*"]
abandon = group kayobe-core
create = group kayobe-release
label-Code-Review = -2..+2 group kayobe-core
label-Workflow = -1..+1 group kayobe-core

[access "refs/tags/*"]
pushSignedTag = group kayobe-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
