[access "refs/for/refs/*"]
pushMerge = group kloudbuster-core

[access "refs/heads/*"]
abandon = group kloudbuster-core
create = group kloudbuster-core
label-Code-Review = -2..+2 group kloudbuster-core
label-Workflow = -1..+1 group kloudbuster-core

[access "refs/tags/*"]
pushSignedTag = group kloudbuster-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
