[access "refs/heads/*"]
abandon = group marshal-core
create = group marshal-release
label-Code-Review = -2..+2 group marshal-core
label-Workflow = -1..+1 group marshal-core

[access "refs/tags/*"]
pushSignedTag = group marshal-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
