[access "refs/heads/*"]
abandon = group meghdwar-core
create = group meghdwar-release
label-Code-Review = -2..+2 group meghdwar-core
label-Workflow = -1..+1 group meghdwar-core

[access "refs/tags/*"]
pushSignedTag = group meghdwar-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
