[access "refs/heads/*"]
abandon = group meteos-core
create = group meteos-release
label-Code-Review = -2..+2 group meteos-core
label-Workflow = -1..+1 group meteos-core

[access "refs/tags/*"]
pushSignedTag = group meteos-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
