[access "refs/heads/*"]
	abandon = group monasca-core
	label-Code-Review = -2..+2 group monasca-core
	label-Review-Priority = -1..+2 group monasca-core
	label-Workflow = -1..+1 group monasca-core

[label "Review-Priority"]
	copyCondition = changekind:NO_CODE_CHANGE OR is:MAX
	defaultValue = 0
	function = NoBlock
	value = -1 Branch Freeze
	value = 0 No Priority
	value = +1 Important Change
	value = +2 Gate Blocker Fix / Urgent Change

[receive]
	requireChangeId = true

[submit]
	mergeContent = true

[submit-requirement "Review-Priority"]
	description = Review priority
	submittableIf = -label:Review-Priority=MIN
