[access "refs/heads/*"]
abandon = group mors-core
create = group mors-release
label-Code-Review = -2..+2 group mors-core
label-Workflow = -1..+1 group mors-core

[access "refs/tags/*"]
pushSignedTag = group mors-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
