[access "refs/heads/*"]
abandon = group nemesis-core
create = group nemesis-release
label-Code-Review = -2..+2 group nemesis-core
label-Workflow = -1..+1 group nemesis-core

[access "refs/tags/*"]
pushSignedTag = group nemesis-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
