[access "refs/heads/*"]
abandon = group nerd-reviewer-core
create = group nerd-reviewer-core
label-Code-Review = -2..+2 group nerd-reviewer-core
label-Workflow = -1..+1 group nerd-reviewer-core

[access "refs/tags/*"]
pushSignedTag = group nerd-reviewer-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
