[access "refs/heads/*"]
abandon = group networking-h3c-core
create = group networking-h3c-release
label-Code-Review = -2..+2 group networking-h3c-core
label-Workflow = -1..+1 group networking-h3c-core

[access "refs/tags/*"]
pushSignedTag = group networking-h3c-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
