[access "refs/heads/*"]
abandon = group networking-edge-vpn-core
label-Code-Review = -2..+2 group networking-edge-vpn-core
label-Workflow = -1..+1 group networking-edge-vpn-core

[access "refs/tags/*"]
pushSignedTag = group networking-edge-vpn-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
