[access "refs/heads/*"]
abandon = group networking-nec-core
create = group networking-nec-release
label-Code-Review = -2..+2 group networking-nec-core
label-Verified = -1..+1 group networking-nec-ci
label-Workflow = -1..+1 group networking-nec-core

[access "refs/tags/*"]
pushSignedTag = group networking-nec-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
