[access "refs/for/refs/*"]
pushMerge = group networking-fortinet-release

[access "refs/heads/*"]
abandon = group networking-fortinet-core
create = group networking-fortinet-release
label-Code-Review = -2..+2 group networking-fortinet-core
label-Workflow = -1..+1 group networking-fortinet-core

[access "refs/heads/stable/*"]
abandon = group Change Owner
abandon = group Project Bootstrappers
abandon = group networking-fortinet-core
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Project Bootstrappers
label-Code-Review = -2..+2 group networking-fortinet-core
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+0 group Change Owner
label-Workflow = -1..+1 group Project Bootstrappers
label-Workflow = -1..+1 group networking-fortinet-core

[access "refs/tags/*"]
pushSignedTag = group networking-fortinet-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
