[access "refs/heads/*"]
abandon = group neutron-interconnection-core
create = group neutron-interconnection-release
label-Code-Review = -2..+2 group neutron-interconnection-core
label-Workflow = -1..+1 group neutron-interconnection-core

[access "refs/tags/*"]
createSignedTag = group neutron-interconnection-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
