[access "refs/heads/*"]
abandon = group nfv-filters-core
create = group nfv-filters-release
label-Code-Review = -2..+2 group nfv-filters-core
label-Workflow = -1..+1 group nfv-filters-core

[access "refs/tags/*"]
pushSignedTag = group nfv-filters-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
