[access "refs/heads/*"]
abandon = group novajoin-core
create = group novajoin-release
label-Code-Review = -2..+2 group novajoin-core
label-Workflow = -1..+1 group novajoin-core

[access "refs/tags/*"]
pushSignedTag = group novajoin-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
