[access "refs/heads/*"]
	abandon = group osc-summit-counter-core
	label-Code-Review = -2..+2 group osc-summit-counter-core
	label-Workflow = -1..+1 group osc-summit-counter-core

[access "refs/tags/*"]
	createSignedTag = group osc-summit-counter-release

[receive]
	requireChangeId = true
	requireContributorAgreement = true

[submit]
	mergeContent = true
