[access "refs/heads/*"]
abandon = group ranger-core
create = group ranger-release
label-Code-Review = -2..+2 group ranger-core
label-Workflow = -1..+1 group ranger-core

[access "refs/tags/*"]
pushSignedTag = group ranger-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
