[access "refs/heads/*"]
abandon = group rsd-core
create = group rsd-release
label-Code-Review = -2..+2 group rsd-core
label-Workflow = -1..+1 group rsd-core

[access "refs/tags/*"]
pushSignedTag = group rsd-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
