[access "refs/heads/*"]
abandon = group shovel-core
create = group shovel-release
label-Code-Review = -2..+2 group shovel-core
label-Workflow = -1..+1 group shovel-core

[access "refs/tags/*"]
pushSignedTag = group shovel-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
