[access "refs/heads/*"]
abandon = group slogging-core
label-Code-Review = -2..+2 group slogging-core
label-Workflow = -1..+1 group slogging-core

[access "refs/tags/*"]
createSignedTag = group slogging-release
createTag = group slogging-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
