[access "refs/heads/*"]
abandon = group solar-core
create = group solar-release
label-Code-Review = -2..+2 group solar-core
label-Verified = -1..+1 group solar-ci
label-Workflow = -1..+1 group solar-core

[access "refs/tags/*"]
pushSignedTag = group solar-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
