[access "refs/heads/*"]
abandon = group spectroscope-core
label-Code-Review = -2..+2 group spectroscope-core
label-Workflow = -1..+1 group spectroscope-core

[access "refs/tags/*"]
createSignedTag = group spectroscope-release
createTag = group spectroscope-release

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true
