[access "refs/heads/*"]
abandon = group stackube-core
create = group stackube-release
label-Code-Review = -2..+2 group stackube-core
label-Workflow = -1..+1 group stackube-core

[access "refs/tags/*"]
pushSignedTag = group stackube-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
