[access "refs/heads/*"]
	abandon = group sunbeam-core
	create = group sunbeam-release
	label-Code-Review = -2..+2 group sunbeam-core
	label-Verified = -1..+1 group sunbeam-ci
	label-Workflow = -1..+1 group sunbeam-core

[access "refs/tags/*"]
	createSignedTag = group sunbeam-release

[receive]
	requireChangeId = true

[submit]
	mergeContent = true
