[access "refs/heads/*"]
abandon = group tatu-core
create = group tatu-release
label-Code-Review = -2..+2 group tatu-core
label-Workflow = -1..+1 group tatu-core

[access "refs/tags/*"]
pushSignedTag = group tatu-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
