[access "refs/heads/*"]
abandon = group tripleo-ipa-core
create = group tripleo-ipa-core
label-Code-Review = -2..+2 group tripleo-ipa-core
label-Workflow = -1..+1 group tripleo-ipa-core

[access "refs/tags/*"]
createSignedTag = group tripleo-ipa-core
createTag = group tripleo-ipa-core

[receive]
requireChangeId = true

[submit]
mergeContent = true
