[access "refs/heads/*"]
abandon = group virtualpdu-core
label-Code-Review = -2..+2 group virtualpdu-core
label-Workflow = -1..+1 group virtualpdu-core

[access "refs/tags/*"]
pushSignedTag = group virtualpdu-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
