[access "refs/heads/*"]
abandon = group zmq-event-publisher-core
label-Code-Review = -2..+2 group zmq-event-publisher-core
label-Workflow = -1..+1 group zmq-event-publisher-core

[access "refs/tags/*"]
pushSignedTag = group zmq-event-publisher-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
