[access "refs/heads/*"]
abandon = group os-faults-core
label-Code-Review = -2..+2 group os-faults-core
label-Workflow = -1..+1 group os-faults-core

[access "refs/tags/*"]
pushSignedTag = group os-faults-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
