[access "refs/heads/*"]
abandon = group vexxhost-core
label-Code-Review = -2..+2 group vexxhost-core
label-Workflow = -1..+1 group vexxhost-core

[access "refs/tags/*"]
createSignedTag = group vexxhost-core
createTag = group vexxhost-core

[receive]
requireChangeId = true

[submit]
mergeContent = true
