[access "refs/heads/*"]
	abandon = group heterogeneous-distributed-training-framework-core
	label-Code-Review = -2..+2 group heterogeneous-distributed-training-framework-core
	label-Workflow = -1..+1 group heterogeneous-distributed-training-framework-core

[receive]
	requireChangeId = true
	requireContributorAgreement = true

[submit]
	mergeContent = true
