[access "refs/heads/*"]
	abandon = group cfn-use-case-and-architecture-core
	label-Code-Review = -2..+2 group cfn-use-case-and-architecture-core
	label-Workflow = -1..+1 group cfn-use-case-and-architecture-core

[receive]
	requireChangeId = true
	requireContributorAgreement = true

[submit]
	mergeContent = true
