[access "refs/for/refs/*"]
	pushMerge = group nodepool-release

[access "refs/heads/*"]
	abandon = group nodepool-core
	editHashtags = group Registered Users
	label-Code-Review = -2..+2 group nodepool-core
	label-Workflow = -1..+1 group nodepool-core

[access "refs/tags/*"]
	createSignedTag = group nodepool-release

[receive]
	requireChangeId = true

[submit]
	mergeContent = true
