[access "refs/heads/*"]
	abandon = group zuul-project-config-core
	label-Code-Review = -2..+2 group zuul-project-config-core
	label-Workflow = -1..+1 group zuul-project-config-core

[access "refs/tags/*"]
	createSignedTag = group zuul-project-config-release

[receive]
	requireChangeId = true

[submit]
	mergeContent = true
