[access "refs/for/refs/*"]
pushMerge = group zuul-release

[access "refs/heads/*"]
abandon = group zuul-core
editHashtags = group Registered Users
label-Code-Review = -2..+2 group zuul-core
label-Workflow = -1..+1 group zuul-core

[access "refs/tags/*"]
createSignedTag = group zuul-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
