[access "refs/heads/*"]
abandon = group tesora-core
label-Code-Review = -2..+2 group tesora-core
label-Workflow = -1..+1 group tesora-core

[access "refs/tags/*"]
pushSignedTag = group tesora-release

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true
