<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <title>
   OpenStack Specifications
  </title>
  <script src="http://status.openstack.org/common.js" type="text/javascript">
  </script>
  <!-- Google Fonts -->
  <link href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin" rel="stylesheet" type="text/css"/>
  <!-- Google Fonts -->
  <link href="http://www.openstack.org/blog/feed/" rel="alternate" title="RSS 2.0" type="application/rss+xml"/>
  <link href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin" rel="stylesheet" type="text/css"/>
  <!-- Framework CSS -->
  <link href="http://openstack.org/themes/openstack/css/blueprint/screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
  <link href="http://openstack.org/themes/openstack/css/blueprint/print.css" media="print" rel="stylesheet" type="text/css"/>
  <!--[if lt IE 8]><link rel="stylesheet" href="http://openstack.org/themes/openstack/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <!-- OpenStack Specific CSS -->
  <link href="http://openstack.org/themes/openstack/css/main.css" media="screen, projection, print" rel="stylesheet" type="text/css"/>
  <link href="http://docs.openstack.org/common/css/main-landing.css" media="screen, projection, print" rel="stylesheet" type="text/css"/>
  <link href="http://openstack.org/themes/openstack/css/dropdown.css" rel="stylesheet" type="text/css"/>
 </head>
 <body class="docshome" id="docshome">
  <div class="container">
   <div id="header">
    <div class="span-5">
     <h1 id="logo">
      <a href="http://www.openstack.org/">
       OpenStack
      </a>
     </h1>
    </div>
    <div class="span-19 last blueLine">
     <div class="span-19" id="navigation">
      <ul id="Menu1">
       <li>
        <a href="/" title="Go to the Home page">
         Home
        </a>
       </li>
       <li>
        <a class="link" href="http://www.openstack.org/software/" title="Go to the Software page">
         Software
        </a>
       </li>
       <li>
        <a class="link" href="http://www.openstack.org/user-stories/" title="Go to the User Stories page">
         User Stories
        </a>
       </li>
       <li>
        <a class="link" href="http://www.openstack.org/community/" title="Go to the Community page">
         Community
        </a>
       </li>
       <li>
        <a class="link" href="http://www.openstack.org/foundation/" title="Go to the Foundation page">
         Foundation
        </a>
       </li>
       <li>
        <a class="link" href="http://www.openstack.org/profile/" title="Go to the Profile page">
         Profile
        </a>
       </li>
       <li>
        <a href="http://www.openstack.org/blog/" title="Go to the OpenStack Blog">
         Blog
        </a>
       </li>
       <li>
        <a href="http://wiki.openstack.org/" title="Go to the OpenStack Wiki">
         Wiki
        </a>
       </li>
       <li>
        <a href="http://docs.openstack.org/" title="Go to OpenStack Documentation">
         Documentation
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- Page Content -->
   <div class="container">
    <div class="span-12">
     <h3 class="subhead">
      Specifications
     </h3>
    </div>
    <div class="searchArea span-10 last">
    </div>
   </div>
   <div class="container">
    <div class="span-12">
    </div>
   </div>
   <div class="container">
    <div class="span-12">
     <div>
     </div>
    </div>
    <div class="span-12" id="subnav">
     <ul class="subsectionNav">
      <li class="link">
       <a>
        Project Specs
       </a>
      </li>
     </ul>
     <!-- This lists follows the naming of
        http://docs.openstack.org/developer/openstack-projects.html -->
     <dl>
{% for project in projects %}
      <dd>
       <a href="{{project.repo}}">
        {{project.name}}
       </a>
       (<a href="{{project.repo}}/rss.xml">RSS</a>)
      </dd>
{% endfor %}
     </dl>
    </div>
    <div class="span-12 last-right" id="subnav-right">
     <ul class="subsectionNav last-right">
      <li class="link">
       <a>
        Cross-project Specs
       </a>
      </li>
     </ul>
     <dl>
{% for project in programs %}
      <dd>
       <a href="{{project.repo}}">
        {{project.name}}
       </a>
       (<a href="{{project.repo}}/rss.xml">RSS</a>)
      </dd>
{% endfor %}
     </dl>
    </div>
   </div>
   <div class="span-12">
     <a href="specs.opml">OPML file with all RSS feeds</a>
   </div>
  </div>
  <!-- Page Content -->
  <script type="text/javascript">
   footer();
  </script>
 </body>
</html>
