<?xml version="1.0" encoding="UTF-8"?>

<opml version="1.0">
  <head>
    <title>OpenStack Specs Feeds</title>
  </head>
  <body>
    <outline text="OpenStack Specs" title="OpenStack Specs">
{% for project in all %}
      <outline type="rss"
               text="{{project.name}}"
               title="{{project.name}}"
               xmlUrl="http://specs.openstack.org/{{project.repo}}/rss.xml"
               htmlUrl="http://specs.openstack.org/{{project.repo}}">
      </outline>
{% endfor %}
    </outline>
  </body>
</opml>
