[access "refs/heads/*"]
	abandon = group ansible-role-openstacksdk-core
	label-Code-Review = -2..+2 group ansible-role-openstacksdk-core
	label-Workflow = -1..+1 group ansible-role-openstacksdk-core

[access "refs/tags/*"]
	createSignedTag = group ansible-role-openstacksdk-release

[receive]
	requireChangeId = true
	requireContributorAgreement = false

[submit]
	mergeContent = true
