[access "refs/heads/*"]
abandon = group ansible-role-whisper-core
label-Code-Review = -2..+2 group ansible-role-whisper-core
label-Workflow = -1..+1 group ansible-role-whisper-core

[access "refs/tags/*"]
createSignedTag = group ansible-role-whisper-release

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true
