[access "refs/heads/*"]
abandon = group ansible-role-zookeeper-core
label-Code-Review = -2..+2 group ansible-role-zookeeper-core
label-Workflow = -1..+1 group ansible-role-zookeeper-core

[access "refs/tags/*"]
pushSignedTag = group ansible-role-zookeeper-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
