[access "refs/heads/*"]
	abandon = group ansible-role-elasticsearch-core
	label-Code-Review = -2..+2 group ansible-role-elasticsearch-core
	label-Workflow = -1..+1 group ansible-role-elasticsearch-core

[access "refs/tags/*"]
	createSignedTag = group ansible-role-elasticsearch-release

[receive]
	requireChangeId = true

[submit]
	mergeContent = true
