[access "refs/heads/*"]
abandon = group windmill-backup-core
label-Code-Review = -2..+2 group windmill-backup-core
label-Workflow = -1..+1 group windmill-backup-core

[access "refs/tags/*"]
createSignedTag = group windmill-backup-release
createTag = group windmill-backup-release

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true
