[access "refs/heads/*"]
abandon = group windmill-config-core
label-Code-Review = -2..+2 group windmill-config-core
label-Workflow = -1..+1 group windmill-config-core

[access "refs/tags/*"]
createSignedTag = group windmill-config-release
createTag = group windmill-config-release

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true
