- hosts: all
  tasks:

    - name: Propose constraints update
      command: "{{ ansible_user_dir }}/scripts/release-tools/update_constraints.sh {{ zuul.tag }}"
      args:
        chdir: "src/{{ zuul.project.canonical_name }}"
