[Unit]
Description=Quickly initialize the nonblocking kernel random number generator at boot.
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/initialize-urandom.py
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
