[access "refs/for/refs/*"]
	pushMerge = group starlingx-release

[access "refs/for/refs/f/portable-dc"]
	pushMerge = group starlingx-portable-dc-release

[access "refs/heads/*"]
	abandon = group starlingx-app-distributed-cloud-core
	create = group starlingx-release
	label-Code-Review = -2..+2 group starlingx-app-distributed-cloud-core
	label-Workflow = -1..+1 group starlingx-app-distributed-cloud-core

[access "refs/tags/*"]
	createSignedTag = group starlingx-release

[receive]
	requireChangeId = true
	requireSignedOffBy = true

[submit]
	mergeContent = True
