[access "refs/for/refs/*"]
	pushMerge = group starlingx-release

[access "refs/heads/*"]
	abandon = group starlingx-app-kubevirt-core
	create = group starlingx-release
	label-Code-Review = -2..+2 group starlingx-app-kubevirt-core
	label-Workflow = -1..+1 group starlingx-app-kubevirt-core

[access "refs/tags/*"]
	createSignedTag = group starlingx-release

[receive]
	requireChangeId = true
	requireContributorAgreement = true

[submit]
	mergeContent = True
