[access "refs/heads/*"]
abandon = group starlingx-docs-core
create = group starlingx-release
label-Code-Review = -2..+2 group starlingx-docs-core
label-Workflow = -1..+1 group starlingx-docs-core

[access "refs/tags/*"]
createSignedTag = group starlingx-release
createTag = group starlingx-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
