[access "refs/for/refs/*"]
pushMerge = group starlingx-release

[access "refs/heads/*"]
abandon = group starlingx-helm-charts-core
create = group starlingx-release
label-Code-Review = -2..+2 group starlingx-helm-charts-core
label-Workflow = -1..+1 group starlingx-helm-charts-core

[access "refs/tags/*"]
createSignedTag = group starlingx-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = True
