[access "refs/for/refs/*"]
pushMerge = group starlingx-metrics-server-armada-app-core

[access "refs/heads/*"]
abandon = group starlingx-metrics-server-armada-app-core
create = group starlingx-metrics-server-armada-app-core
label-Code-Review = -2..+2 group starlingx-metrics-server-armada-app-core
label-Workflow = -1..+1 group starlingx-metrics-server-armada-app-core

[access "refs/tags/*"]
pushSignedTag = group starlingx-metrics-server-armada-app-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = True
