- hosts: all
  roles:
    - fetch-tox-output
    - fetch-python-sdist-output

  pre_tasks:
    # NOTE(pabelanger): This need to run before fetch-python-sdist-output to
    # properly rename wheels and tarballs.
    - name: Rename files to branch specific name
      shell: "mv *.{{ item }} {{ zuul.project.short_name }}-{{ zuul.branch | replace('/', '-') }}.{{ item }}"
      args:
        chdir: "src/{{ zuul.project.canonical_name }}/dist"
      with_items:
        - "tar.gz"
        - "whl"
